[2017-02-03 17:01] andreaturli commented on #300
Thx @adagios, see if my link to SO is helpful.

[2017-02-03 17:54] adagios commented on #300
@andreaturli could you test it? I didn't have a chance. Just looked at the generated MANIFEST and it seemed ok.

[2017-02-03 19:08] andreaturli commented on #300
I will ASAP @adagios, and I'll let you guys know. thanks!

[2017-02-03 20:24] andreaturli commented on #300
[code]
much better! Please ship it!

[2017-02-03 21:56] hierynomus commented on #300
Thanks @andreaturli @adagios.

Build is running currently

[2017-02-04 10:08] andreaturli commented on #300
please let me know when it is available (or an endpoint that I can look at by myself) so that I can test the new release (presumably 0.9.2, right?)

[2017-02-06 09:16] #300 closed

[2017-02-06 09:17] hierynomus commented on #300
New release will indeed be 0.19.2. I will release it later this week.

[2017-02-06 10:37] andreaturli commented on #300
awesome, thanks!

[2017-02-09 15:31] andreaturli commented on #300
hi guys, gentle nudge, any update on the 0.9.2 release? Thanks!

[2017-02-10 09:45] andreaturli commented on #300
thx @hierynomus I really appreciate your help, looking forward to use the new version, whatever it is :P

---

slightly off-topic: would it be interesting for sshj to support an `AuthMethod` for ssh-agent?

[2017-02-10 12:14] hierynomus commented on #300
I'm always open to exploring new features if they're useful to the community :)

[2017-02-10 12:33] dazed19 commented on #297
Hi
Thanks - having thought about it I'm not entirely sure I need access to the PortForwarders socket - it's the health of underlying client session (overwhich the portforwarder operates) that I'm really interested in - so not a problem for me.

[2017-02-10 12:35] hierynomus commented on #300
Should be published now and appearing in Maven Central soon!

[2017-02-10 13:58] andreaturli commented on #300
Thanks @hierynomus, really appreciated. Updating jclouds/jclouds project to use `sshj:0.20.0`

[2017-02-10 16:30] andreaturli opened #302 "AuthAgent support"
Apache jclouds project and Apache Brooklyn project require [AuthAgent](https://github.com/ymnk/jsch-agent-proxy/tree/master/jsch-agent-proxy-sshj/src/main/java/com/jcraft/jsch/agentproxy/sshj) coming from another project.
I wonder if that could be a good fit for sshj so other OSS project can depend only on SSHJ.

As SSH experts, what are your thoughts? would it be helpful? is it hard to implement?

[2017-02-16 13:51] MarcelBeining opened #303 "TransportException: Unable to reach a settlement: [diffie-hellman-group1-sha1, diffie-hellman-group-exchange-sha1] and [curve25519-sha256@libssh.org, diffie-hellman-group-exchange-sha256]"
Hi there,
I am trying to connect to our server which uses the diffie-hellman-group-exchange-sha256 method, but I get the error, shown below. I have the very latest version of sshj so the dh-gex-sha256 method is within the build, however it does not seem to be found for the matching. Any ideas what's wrong?

Best
Marcel

[2017-02-16 14:09] hierynomus commented on #303
Hi Marcel,

There are 2 possibilities:

1. Have you loaded the unlimited strength java cryptography extensions? If not, then you cannot use anything higher than sha1 encryption. However given the specific combination of KEX algorithms I don't think that is the current problem
2. Do you have BouncyCastle on the classpath? This specific combination of KEX algorithms is loaded as fallback when BC is

[2017-02-16 14:56] MarcelBeining commented on #303
Thank you! Yes it was actually the missing BouncyCastle! Works now =)

[2017-02-16 15:41] #303 closed

[2017-02-22 21:39] meowfaceman commented on #154
I'm seeing this as well when auth fails -- basically, trying to connect to a non-existent host with a public key. We've got a wrapper around sshj, but adding in a client.getConnection().getKeepAlive().interrupt() when trying to close the client seems to kill the threads here.

[2017-02-27 21:41] craftmaster2190 commented on #94
My workaround:
new SSHClient().newSCPFileTransfer().newSCPUploadClient().copy(local, remote, SCPCommandLine.EscapeMode.NoEscape)

[2017-02-27 21:45] craftmaster2190 commented on #272
How do I override the SCPDownloadClient to not use ScpCommandLine.Arg.PRESERVE_TIMES (-p)?
I can do it for SCPUploadClient by overriding the FileSystemFile.providesAtimeMtime() with return false.

[2017-02-28 09:17] hierynomus commented on #94
Yes, correct, the EscapeMode was introduced to fix this. Just forgot this issue.

[2017-02-28 09:17] #94 closed

[2017-03-02 18:34] eliasarias95 opened #304 "Commands executed with xargs returns exit status null"
Hi and thank you for writing this library!

I am developing a tool to manage long-lived java processes across a handful of servers. To kill processes, I have opted for the following solution: pgrep -f blah | xargs kill. Using your library, this command successfully kills jobs, but I encounter a runtime exception I get an exit status that is null. The backend of this software passes the exit status

[2017-03-02 20:53] hierynomus commented on #304
Hi Elias,

What is the exit code you get when you execute this on the command line?

[2017-03-02 21:45] eliasarias95 commented on #304
I get an exit code 0 when executing on the command line.

[2017-03-02 21:50] hierynomus commented on #304
Is this only with `| xargs kill`? Does it happen with other piped commands?

Do you have a small reproduction case (integration test?) for me to debug?

[2017-03-02 22:18] eliasarias95 commented on #304
It looks like the culprit is `xargs`. Before choosing this logic for killing processes, I was using a long and nasty `ps ax` command with plenty of pipes, so piped commands seem okay.

I'm not the best developer, but here are the main code snippets that should give you the ability to easily debug.
[code]

I hope this helps! This is my first time interacting with other git users, so please don't fe

[2017-03-08 23:29] solind opened #306 "Defect introduced in code cleanup commit?"
I'm seeing the following exception sending really long strings down a ChannelOutputString, which I don't see when using a previous build:

[code]

I looked cursorily and didn't see a problem, but I suspect this might have been broken in commit https://github.com/hierynomus/sshj/commit/636f8968503ba9b80cea077d17a65eb331a3be8e.

[2017-03-09 11:46] hierynomus commented on #306
Can you create a unit test that simulates this?

[2017-03-09 12:59] hierynomus commented on #277
Fixed with #305

[2017-03-09 12:59] #277 closed

[2017-03-09 17:37] solind commented on #306
I'm super-busy at the moment, but I will give it a shot if you'll point me to an existing unit test that attempts to execute any command over an exec or shell channel.

If you can't, it'll just take me longer to get around to it.

[2017-03-09 17:56] hierynomus commented on #306
Hi David, else do you have some logging and string sizing info for me?

Op 9 mrt. 2017 6:37 p.m. schreef "David Solin" <notifications@github.com>:

[2017-03-10 19:07] tripexito commented on #15
I've been using **SSHJ v0.20.0** to connect using sftp to **freeFTPd** and I'm getting the same Exception. I've realized that it doesn't work if try to upload any file to FTP server (reading files works fine). Even if I comment the close/disconnect instruction. Please give anyone can give me some approach how to solve this. Thanks in advance.

[2017-03-10 19:29] tripexito commented on #173
I've been using SSHJ v0.20.0 to connect using sftp to freeFTPd and I'm getting the same Exception. I've realized that it doesn't work if try to upload any file to FTP server (reading files works fine). Even if I comment the close/disconnect instruction. Please give anyone can give me some approach how to solve this. Thanks in advance.

[2017-03-23 06:56] willemw12 opened #308 "Android: "Unable to reach a settlement" exception"
On Android, using Spongy Castle, SSH connection:

    SSHClient ssh = new SSHClient(new AndroidConfig());
    ssh.addHostKeyVerifier(new PromiscuousVerifier());
    ssh.connect(HOST, PORT);

fails:

    E/TransportImpl: Dying because - {}
                     net.schmizz.sshj.transport.TransportException: Unable to reach a settlement: [diffie-hellman-group1-sha1, diffie-hellman-group-exchange-sha1

[2017-03-23 07:01] willemw12 opened #309 "Typo in build instructions ("Overthere")"
In README.adoc, there is:

    Clone the Overthere repository.

Should that not be:

    Clone the remote repository.

[2017-03-23 07:18] willemw12 commented on #308
There are two more "BC" references:

    ./src/main/java/net/schmizz/sshj/userauth/keyprovider/PKCS8KeyFile.java:                pemConverter.setProvider("BC");
    ./src/main/java/net/schmizz/sshj/userauth/keyprovider/PKCS8KeyFile.java:                    decryptorBuilder.setProvider("BC");

Don't know whether that also is causing issues when using SSHJ with Spongy Castle.

[2017-03-23 13:04] hierynomus commented on #309
Thanks, copy-paste error ;)

[2017-03-23 13:05] #309 closed

[2017-03-23 15:41] ibruell opened #310 "Need a direct TcpIp connection thru a ssh tunnel without opening a localport"
I need a direct connection from my ssh client to a remote port thru a ssh tunnel. I do not want to open a local port. Just register or use an input- and outputstream.

This function exists in Jsch but it is very slow so i hoped to get it in this lib.

[2017-03-26 22:23] ronsmits opened #311 "scp does not overwrite files"
Hi

I am using your project in a maven plugin (https://github.com/ronsmits/fxlauncher-maven-plugin) it seems that `sshClient.newSCPFileTransfer().upload(new FileSystemFile(buildDir), path);` does not overwrite existing files. Is it somehow possible to do this? am I missing a setting?

[2017-03-27 11:35] hierynomus commented on #311
Hi @ronsmits,

What is the exception you're getting? I've not seen this, and also cannot remember having this problem. It might be ssh server dependent? Is the target system Windows?

[2017-03-27 12:14] ronsmits commented on #311
There is no exception, the files are just not written. The server is a raspberry pi running raspbian. I already checked if I could find something int scpCommandLine that could be set, but there is not.

Information on the interweb is a bit sketchy wether the standard behaviour is to overwrite or silently ignore, Most seem to go towards the overwrite.

[2017-03-27 14:09] wilx opened #312 "make sshj depend on newer BouncyCastle provider"
It would be nice if sshj could use newer version of BouncyCastle dependencies, like 1.56.

[2017-03-28 08:01] hierynomus commented on #311
Yes indeed, from what I know overwrite is the standard behaviour, except in
some corner cases. Do you have a small standalone reproduction case, it
might be how you specify the paths (with or without trailing slash)

2017-03-27 14:14 GMT+02:00 Ron Smits <notifications@github.com>:

[2017-03-28 13:07] hierynomus commented on #312
Makes sense, thanks for the suggestion.

[2017-04-03 01:49] lukelast opened #313 "...Window.Remote.awaitExpansion Deadlock"
Version: 0.20.0
OS: amazon linux 2016.09
Remote client: CentOS7

I've run into a deadlock a few times while SCPing a large file when the network connection fails. Looking at the code below there is no way to return from `awaitExpansion` unless a message is received from the remote end to increase the window size. If the remote end never sends `Message.CHANNEL_WINDOW_ADJUST` for whatever reason the

[2017-04-03 11:25] FDelporte opened #314 "How to get progress of a newSCPFileTransfer().upload?"
Hello

Are there already functions and/or values available in the library to know how many bytes are already transferred via a upload / download?

I've added something similar to org.apache.commons.net.tftp (https://issues.apache.org/jira/browse/NET-604), but can't see immediately where this could be done in this library...

Best regards
Frank

[2017-04-03 12:37] hierynomus commented on #314
For SFTP this is exposed, See the `TransferListener`, which can be set on the `SFTPFileTransfer`. For SCP it indeed does not seem to be exposed. Should not be hard to add though.

[2017-04-03 13:12] mathanpt opened #315 "Incorrect exception thrown for authenticating against an SFTP server with invalid password"
The following exception is thrown for authenticating against an SFTP server with invalid password and it doesn't seem quite right

`net.schmizz.sshj.userauth.UserAuthException: Exhausted available authentication methods`

[2017-04-07 08:19] vaclavHala opened #316 "Elevate visibility to improve extensibility"
Hi, I'm trying to implement Transport using netty (http://netty.io/). I've encountered problem with visibility of some classes I'd like to reuse, namely: NegotiatedAlgorithms, Proposal. Would it be possible to make these public? I can make PR if you wish.

It would also help to have Message cached and accessible in the SSHPacket, right now it can only be got from it once as it actually performs re

[2017-04-07 12:37] mathanpt commented on #315
Any help would be greatly appreciated

[2017-04-07 13:34] dazed19 commented on #315
Hi

It's generally the case that a server shouldn't indicate that a password check has failed, since this would indicate that the account being used is valid  - this holds (I believe) for SSH/SFTP access - see [this](https://security.stackexchange.com/questions/17816/username-and-or-password-invalid-why-do-websites-show-this-kind-of-message-i) - so the less explict response is appropriate in this

[2017-04-08 20:54] Velstadt opened #317 "Correctly disconnecting when using local and remote port forwarding"
I am currently writing an application that involves connecting to an Amazon EC2 instance and then using SSHJ to tunnel RMI over SSH. I managed to get the port forwarding set up and working from looking at the provided tutorials but I get errors when disconnecting from the SSHClient.
I am starting the local port forwarder in a separate thread like so:
[code]
I have also tried just using ``new Threa

[2017-04-10 07:55] hierynomus commented on #316
Hi @vaclavHala,

I don't think you'd need a new Transport for that, but rather change the Connection implementation? Opening up these classes is actually not something I'm in favour of, that makes them APIs which means that I cannot easily change them anymore.

[2017-04-10 07:59] hierynomus commented on #315
@dazed19 You're right for a server, but SSHJ is not a server, but rather a client.

I will have a look to see whether I can improve the exceptions coming out of the authentication.

This is what regular SSH does:
[code]

[2017-04-10 08:13] #312 closed

[2017-04-10 09:52] winneryong opened #318 "not connect to sftp server"
###Use xftp software can connect,  but sshj not connect, error log :

[code]

[2017-04-10 09:54] hierynomus commented on #318
You have not enabled high-strength ciphers. You need to download the java cryptography extensions unlimited strength files for your JDK/JRE.

See this line:
[code]

[2017-04-10 10:00] winneryong commented on #318
oh.. thanks a lot, I to be try it again.

[2017-04-10 10:15] winneryong commented on #318
I download and replace  java cryptography extensions unlimited strength files *.jar file to  JDK_HOME/lib/security and jre/lib/security, but not work too.

error log:

[INFO ] 2017-04-10 18:13:11,532 method:net.schmizz.sshj.transport.random.BouncyCastleRandom.<init>(BouncyCastleRandom.java:48)
Generating random seed from SecureRandom.
[INFO ] 2017-04-10 18:13:11,759 method:net.schmizz.sshj.transpo

[2017-04-10 10:23] winneryong commented on #318
i try to use jcraft to connect sftp server,  connect success.

[2017-04-10 10:25] dazed19 commented on #315
@hierynomus - I'm happy to be proved wrong, but isn't SSHJ a client connecting to a server - and the server won't (shouldn't) be telling the client what it didn't like about the authentication failure?.  Whoever is in control of the server can determine the failure details from the SSHD logs.

From a client perspective I agree you can add authentication methods (into SSHJ) and report the list used

[2017-04-10 10:53] vaclavHala commented on #316
Hi, thanks for response.

My goal is to have implementation for transport layer which does not force me to have thread per TCP connection. There will be lots (high thousands, possibly simultaneously) of connections opening to different hosts. The application for which this is already has netty as low level transport with many protocols on top, all running in common thread pools.

With that said, I

[2017-04-10 11:00] winneryong commented on #318
sftp server run on Centos 7

[2017-04-10 11:01] hierynomus commented on #318
@winneryong It seems that you have not loaded the right hot key verification.

In order to accept all host keys (ie. not verify anything), use `sshClient.addHostKeyVerifier(new PromiscuousVerifier());`
If you want to use the `known_hosts` file, use sshClient.loadKnownHosts(new File("/home/x/.ssh/known_hosts"));`

[2017-04-10 12:12] winneryong commented on #318
@hierynomus  Is't work!  Thank you very much!  :+1:

[2017-04-10 12:12] #318 closed

[2017-04-10 12:30] hierynomus commented on #315
@dazed19 You're right, we can't provide more info than the SSH server is telling us. And when looking through the code just now, I think we provide the information the server told us in the caused by stacktrace.

[2017-04-10 12:31] hierynomus commented on #316
@vaclavHala Do you have some code somewhere so that I can take a look at it?

[2017-04-10 13:22] vaclavHala commented on #316
@hierynomus  The project as a whole does not have sources publicly available. I have put what I have so far from the sshj-netty integration here https://github.com/vaclavHala/sshj-netty/

For a quick summary, netty uses a chain of handlers which sit on top of the socket and they process both inbound and outbound messages (stream of bytes for TCP). SshInitializer assembles this chain. I have handle

[2017-04-11 11:50] JMVM commented on #245
If using authPublicKey, ensure remote machine has your key as **authorized_keys**

[2017-04-11 12:13] hierynomus commented on #241
Closing due to inactivity.

[2017-04-11 12:13] #241 closed

[2017-04-14 06:51] hierynomus commented on #153
SHould be fixed with the merge of #319

[2017-04-14 06:51] #153 closed

[2017-04-17 17:10] 329706598 opened #320 "File name display error"
new StreamCopier(System.in, shell.getOutputStream(), LoggerFactory.DEFAULT)
                        .bufSize(shell.getRemoteMaxPacketSize())
                        .copy();

I input "ls" in System.in,

**output：**
root@ubuntu:/# ls
ls
[0m[01;34mbin[0m   [01;34metc[0m         [01;36minitrd.img.old[0m  [01;34mlost+found[0m  [01;34mopt[0m   [01;34mrun[0m   [01;34msys[0m  [01;34mvar[

[2017-04-18 09:42] hierynomus commented on #320
What you're seeing are ansi escape codes. Your `ls` output is outputting coloured syntax. This can be disabled by providing the right flags/environment variables.

[2017-04-24 10:50] havid0707 opened #321 "connection abort: recv failed when upload file to AWS EC2"
Run script successfully on AWS EC2 but failed when upload file use SFTP.
I have try version 15-21, all have such problem.
Client and Server Version:
[main] INFO net.schmizz.sshj.transport.TransportImpl - Client identity string: SSH-2.0-SSHJ_0_17_2
[main] INFO net.schmizz.sshj.transport.TransportImpl - Server identity string: SSH-2.0-OpenSSH_6.6.1
Code:
[code]
I debug the process, the exception poi

[2017-04-24 10:51] hierynomus commented on #321
Hi @havid0707,

Do you have some debug logs, both from the client and the server side?

[2017-04-24 10:58] havid0707 commented on #321
Thanks @hierynomus
Client Code is quite simple:
sshClient = new SSHClient();
sshClient.addHostKeyVerifier(new PromiscuousVerifier());
sshClient.connect("XXXXX.compute.amazonaws.com");

PKCS8KeyFile keyFile = new PKCS8KeyFile();
keyFile.init(new File("C://key.pem"));
sshClient.auth("user", new AuthPublickey(keyFile));

![image](https://cloud.githubusercontent.com/assets/9440277/25334050/88610fbc-29

[2017-04-24 11:06] hierynomus commented on #321
Try to turn up logging to debug level, but also interesting the the AWS/Server side logging at debug level.

[2017-04-24 13:14] hierynomus commented on #320
@329706598 Did that answer help you? Or do you have any further problems?

[2017-04-25 03:48] havid0707 commented on #321
Server Site Debug Log:
[code]
@hierynomus

[2017-04-25 04:06] havid0707 commented on #321
I dont know how to change client log level. Google and found other guys have the same problem:
http://stackoverflow.com/questions/43346755/how-can-i-modify-net-schmizz-sshj-logging-level

[2017-04-25 07:42] hierynomus commented on #321
Create a `logback.xml` file and configure the logging to produce `trace` level logs for `net.schmizz.sshj` and `com.hierynomus.sshj`.

You can find an example file in the repo in `src/test/resources`.

[2017-04-25 07:45] hierynomus commented on #313
@lukelast Do you have some reproduction scenario. I think it is solvable, but I need to have a careful look at this.

[2017-04-25 10:10] havid0707 commented on #321
@hierynomus  Thanks for your help.
Client Site Log:
[code]

[2017-04-25 13:30] #306 closed

[2017-04-25 13:37] hierynomus commented on #321
@havid0707 Can you try the 0.21.1 version that I've just released to see whether this still occurs? I think the fix in there should fix your issue.

[2017-04-25 14:11] solind commented on #306
Hi Jeroen, sorry I never managed to get that unit test working.  I just tried this update and it appears fixed to me.  Thanks!

[2017-04-25 14:17] hierynomus commented on #306
No problem, the keen eyes of @dkocher found the issue ;)

[2017-04-26 01:35] havid0707 commented on #321
@hierynomus  the probleam still exists. And I found V20-V21 failed to run final Command cmd = session.exec("bash initlinux.bash"); but V15-V18 success.

exec log
[code]

STFP Log:
[code]

[2017-04-26 01:37] havid0707 commented on #321
Conclusion:
V20-V21: failed to transfer file and run remote command.
V15-18: failed to transfer file but run remote command successfully.

[2017-04-26 13:20] juddgaddie commented on #190
This issue occurred for me on
OpenSSH_7.2p2, OpenSSL 1.0.2d-fips 9 Jul 2015
with
'com.hierynomus:sshj:0.19.0', 'com.jcraft:jzlib:1.1.3', 'net.i2p.crypto:eddsa:0.1.0', 'org.bouncycastle:bcprov-jdk15on:1.56', 'org.bouncycastle:bcpkix-jdk15on:1.56'

Unfortunately the issue is not repeatable - it was just a one off. Nothing in the sshd log.

[2017-04-26 19:58] PiotrNestor opened #323 "Connection reset with SocketException when connecting to OpenSSH-Win64"
Environment:
sshj on Windows 10 64b connecting to OpenSSH-Win64 (v0.0.12.0)  sshd on Windows 2012

I'm getting sometimes the following error when connecting using AuthPublickey.
**The problem does happen from time to time.**
Most often the connection works fine and using ssh/sftp is OK - so the overall configuration is good.

**Any ideas how to avoid/fix the problem?**

[code]

Stack trace:
[code]

[2017-04-27 02:17] havid0707 commented on #321
@hierynomus  any comment?

[2017-04-27 15:46] juddgaddie opened #324 "SSH Proxy support"
Is there any support or planned support for ssh proxying, for example with openssh:

[code]

[2017-04-28 11:19] jeromehuang1984 opened #325 "java.lang.OutOfMemoryError happens with high concurrency"
We use this sshj library with version 0.19.0 in our android app, we used the remote portforwarding function of this library, sometimes app will crash by exception "java.lang.OutOfMemoryError", we checked the log, found nearly 900 threads named with "chanopener" were created, here is part of the logs:
`
#0. Crashed: reader: 0 0 0x0000000000000000
       at java.lang.Thread.nativeCreate(Thread.java)

[2017-04-28 21:41] ben-manes opened #326 "Timeout expired on SFTPClient#close()"
When uploading a file, the `sftp.put()` command is appears to be successful, as I see it on the remote server. When `sftp.close()` is called, the exception is thrown and the remote file disappears. The code was based on your example, so I'm not sure what is wrong.

[code]
[code]

[2017-04-28 22:27] ben-manes commented on #326
It appears that if `sftp.close()` is not called, then it operates correctly. Perhaps the sftp server is not ACK'ing the command?

[code]

[2017-05-01 08:57] hierynomus commented on #326
I'll have a look into it. Can't promise when, current week is full of 'real
work' issues ;)

2017-04-29 0:27 GMT+02:00 Ben Manes <notifications@github.com>:

[2017-05-02 07:07] ben-manes commented on #326
The server had a batch job moving files from the ftp. I think the close timeout is due to a server implementation bug.

[2017-05-02 07:07] #326 closed

[2017-05-05 09:03] hierynomus opened #327 "Timing Issue in LocalPortForwarder.close"
See also https://travis-ci.org/hierynomus/sshj/jobs/225609035
[code]

[2017-05-05 11:27] #297 closed

[2017-05-08 18:37] gfrnndz opened #328 "Window consumed to below 0 on version com.hierynomus:sshj:0.16.0"
Here is the stack trace that is being reported when failure occurs.

[2017-05-05T09:03:31.092+0000] [reader] ERROR net.schmizz.sshj.transport.TransportImpl - Dying because - {}
net.schmizz.sshj.connection.ConnectionException: Window consumed to below 0
	at net.schmizz.sshj.connection.channel.Window.consume(Window.java:62)
	at net.schmizz.sshj.connection.channel.ChannelInputStream.receive(ChannelIn

[2017-05-08 20:20] hierynomus commented on #328
Which version is this against, and do you have some more logging of when
this happens?

Thanks!

2017-05-08 20:37 GMT+02:00 gfrnndz <notifications@github.com>:

[2017-05-08 20:40] gfrnndz commented on #328
We are using version 0.16.0.  This is the net.schmizz debug that is captured.  The error occurs when we are running a script to retrieve device information through a ssh session and the session disconnects.

[2017-05-08 23:06] lukelast commented on #313
@hierynomus I put together a snippet of code that reproduces the issue for me. Something interesting I noticed while testing this is that if I do NOT enable the `useCompression()` option then I can't reproduce the deadlock. That is good news for me because I can disable compression in production and hopefully hit this issue less or not at all.

The steps to reproduce are to run the below code and

[2017-05-09 08:06] hierynomus commented on #328
Are you able to reproduce this using the latest version of SSHJ also (0.21.1)?

[2017-05-09 08:07] hierynomus commented on #321
Need to have a deeper look. No idea yet.

[2017-05-09 08:08] hierynomus commented on #313
Thanks for that reproduction scenario! Will definitely look into this.

[2017-05-09 11:52] korovkind opened #329 "BouncyCastle registration"
BouncyCastle registration has no effect after SecurityUtils.isBouncyCastleRegistered() invocation.
The registrationDone flag becomes true after isBouncyCastleRegistered method invocation.

[2017-05-09 13:14] gfrnndz commented on #328
I haven't tried that version yet.  I will try to reproduce on that version.

[2017-05-09 17:49] gfrnndz commented on #328
It still appears to occur in 0.21.1

Here are the debug messages

[2017-05-09T17:47:43.685+0000] [scriptexec-akka.actor.default-dispatcher-71] INFO  net.schmizz.sshj.transport.TransportImpl - Server identity string: SSH-2.0-dropbear_0.53.1
[2017-05-09T17:47:49.084+0000] [scriptexec-akka.actor.default-dispatcher-68] INFO  com.adtran.apps.scriptexec.ssh.SshClient - Sending command 'term length 0'
[2

[2017-05-10 09:18] hierynomus commented on #328
Thanks for testing. Some questions to make it easier to troubleshoot/fix:

- Which SSH server is it connecting against?
- Do you have some code to reproduce?
- Can you also supply the TRACE level logging?

[2017-05-10 13:47] gfrnndz commented on #328
The SSH server is a device in which are trying to access and gather PM statistics when the fail occurs.
The sshj is being used as part of our management software to configure and monitoring different devices.  I don't have code to share to help reproduce this problem but I'm able to reproduce on my setup.

As for TRACE level logging.  I don't think so.  Is there something I can enable to get the i

[2017-05-10 13:59] hierynomus commented on #328
trace level logging can be acquired by changing the `logback.xml` file to
log trace level messages for sshj.

As I've not seen this in regular tests, can you disclose any info about
what the device runs, or what kind of device it is (commercial or custom)

2017-05-10 15:47 GMT+02:00 gfrnndz <notifications@github.com>:

[2017-05-10 14:30] gfrnndz commented on #328
We are accessing commercial telecom equipment to gather interface stats on all interfaces on the shelf.
I see the logback.xml and is currently set to INFO level.  I will change to TRACE and retest.

[2017-05-10 14:34] hierynomus commented on #328
Thanks!

2017-05-10 16:30 GMT+02:00 gfrnndz <notifications@github.com>:

[2017-05-10 14:58] gfrnndz commented on #328
I'm not seeing any new debug.   Maybe I'm looking at the wrong place but the exception from sshj is return the same info.

[2017-05-10T14:43:27.432+0000] [scriptexec-akka.actor.default-dispatcher-17] INFO  net.schmizz.sshj.transport.TransportImpl - Client identity string: SSH-2.0-SSHJ_0.21.1
[2017-05-10T14:43:27.436+0000] [scriptexec-akka.actor.default-dispatcher-49] INFO  com.adtran.apps.scriptex

[2017-05-10 15:42] gfrnndz commented on #328
So I think I got TRACE messages to show up.

[2017-05-10T15:36:01.106+0000] [reader] TRACE net.schmizz.sshj.transport.Decoder - Received packet #14: 5e 00 00 00 00 00 00 16 85 20 20 20 20 20 20 20 20 20 20 20 20 20 20 20 20 20 20 20 20 20 20 20 20 20 20 20 53 74 61 74 75 73 20 20 20
[2017-05-10T15:36:01.108+0000] [reader] TRACE net.schmizz.sshj.transport.TransportImpl - Received packet CHANNEL_DAT

[2017-05-10 20:32] hierynomus commented on #328
Great, could you post possibly the entire log from connect (identification
exchange) to the failure? That allows me to better pinpoint why the error
occurs.

If you're not comfortable putting this on Github, feel free to send it to
my mail.

Regards,
Jeroen

2017-05-10 17:42 GMT+02:00 gfrnndz <notifications@github.com>:

[2017-05-10 21:10] gfrnndz commented on #328
I no longer have the log file.  I will have to reproduce the failure.  I will send you the log messages from the connect to the failure.

[2017-05-11 14:32] gfrnndz commented on #328
Here is the entire log I captured when I retested and caused the failure.

[script-exec.txt](https://github.com/hierynomus/sshj/files/993320/script-exec.txt)

[2017-05-13 19:51] caillette opened #330 "allocatePty merges stderr into stdout"
I don't really understand what `allocatePty` is supposed to do but I love it because it causes programs launched with sshj to die on session end. This is very useful for integration tests.

On the other hand, when using it, stderr gets merged into stdout. This is not what I want.

I'm using Debian 8.8's sshd and sshj-0.21.1.

[code]

[2017-05-14 06:54] caillette commented on #330
Sorry for the noise. What I discovered is  [pty standard behavior](https://linux.die.net/man/7/pty).

[2017-05-14 06:54] #330 closed

[2017-05-15 15:49] gfrnndz commented on #328
Just checking if you the log I provided is enough to debug issue?

[2017-05-15 16:56] hierynomus commented on #328
Haven't looked yet, sorry. Will get around to it this week i think.

Op 15 mei 2017 11:49 a.m. schreef "gfrnndz" <notifications@github.com>:

[2017-05-18 09:18] predi opened #331 "Usage of wildcards in known host files"
Current implementation of [`net.schmizz.sshj.transport.verification.OpenSSHKnownHosts.SimpleEntry`](https://github.com/hierynomus/sshj/blob/master/src/main/java/net/schmizz/sshj/transport/verification/OpenSSHKnownHosts.java) does not seem to support hostname patterns, just plain old hostnames.

- [x] `foo.example.org`
- [ ] `???.example.org`
- [ ] `*.example.org`

Seems to be an omission similar t

[2017-05-22 12:43] #331 closed

[2017-05-23 13:15] gfrnndz commented on #328
Did you get a chance to start debugging this issue?

[2017-05-31 16:20] MeenaMani opened #333 "Exception when trying to upload to directory"
Hi,

I am getting the following exception when trying to upload to a directory.

java.io.IOException: Trying to upload file test.txt to path WBAFZTXA-SIT/test.txt but that is a directory
        at net.schmizz.sshj.sftp.SFTPFileTransfer$Uploader.prepareFile(SFTPFileTransfer.java:297)

test.txt is a file, but the error message says that it is a directory. Is this because the source directory could

[2017-06-01 08:15] hierynomus commented on #333
Hi @MeenaMani,

No this happens when it detects that the remote is a directory. It seems to think that `WBAFZTXA/test.txt` is a directory. Can you check that.

[2017-06-09 11:56] storytime opened #335 "Exception in thread "main" java.lang.SecurityException: Invalid signature file digest for Manifest main attributes"
Versions: the latest form maven central.

Case:
1. I have lib that contains sshj.
2. This lib includes to spring-boot app.
3. When I try to run runnable jar I see this error:

====
tests_1     | Error: A JNI error has occurred, please check your installation and try again
tests_1     | Exception in thread "main" java.lang.SecurityException: Invalid signature file digest for Manifest main attribute

[2017-06-09 12:10] hierynomus commented on #335
This comes most probably from BouncyCastle, whcih is a signed jar, and can thus not be bundled

[2017-06-09 12:13] #335 closed

[2017-06-09 13:59] hierynomus commented on #327
Again, jdk8 only it seems? https://travis-ci.org/hierynomus/sshj/jobs/241128238

[2017-06-15 07:42] bendem commented on #311
It would be great if the solution implemented to solve this problem allowed both behaviours.

[2017-06-23 10:32] wilx commented on #82
Welp, I think I have hit this as well.

[2017-06-26 16:39] vuminhkh commented on #323
Hi,
I'm having the same error with the version 0.21.1. On a shell session, if the command takes long time to finish and the command produces no output, then the connection seems to "expire" and reset:

`[ERROR][2017-06-26 18:30:36.399]<<chan#8 / close>> woke to: net.schmizz.sshj.connection.ConnectionException: Connection reset
[ERROR][2017-06-26 18:30:36.385]Dying because - {}
java.net.SocketExcep

[2017-06-26 17:13] hierynomus commented on #323
Have you tried enabling keep alive? I think the socket times out.

Regards, Jeroen

Op 26 jun. 2017 6:39 p.m. schreef "vuminhkh" <notifications@github.com>:

[2017-06-26 22:05] vuminhkh commented on #323
Thanks, It works by following your keep alive example. Just for my understanding what's the difference between the default heart beater and the keep alive ?

If keep alive works better why it is not the default setting ?

Thanks,

Khang

[2017-06-27 07:49] hierynomus commented on #323
Main reason is that keep-alive was added later and is as far as I remember
specific to OpenSSH.

2017-06-27 0:05 GMT+02:00 vuminhkh <notifications@github.com>:

[2017-06-27 07:49] #323 closed

[2017-07-07 18:30] thomas-oo opened #339 "Session close hanging"
I am trying to start a daemon on a remote machine. I haven't used sshj before but I've tried to follow the examples.
I did the following
'...
Session session = sshClient.startSession();
Session.Command command = session.exec("consul agent -dev");
session.close();
sshClient.disconnect();
'
session.close timeouts probably because the command I am running (consul agent -dev) is long running and has n

[2017-07-07 18:37] thomas-oo commented on #339
'...
Session session = sshClient.startSession();
Session.Command command = session.exec("consul agent -dev");
**command.close();**
session.close();
sshClient.disconnect();
'

Was enough to fix my issue.

[2017-07-07 18:37] #339 closed

[2017-07-12 08:42] Jay-P opened #340 "Opening 'directed-tcpip' channel failed"
Hi,

I'm trying to set up an SSH tunnel with port forwarding, but i'm encountering this error :

Opening `direct-tcpip` channel failed: Connection refused
	at net.schmizz.sshj.connection.channel.direct.AbstractDirectChannel.gotOpenFailure(AbstractDirectChannel.java:74)
	at net.schmizz.sshj.connection.channel.direct.AbstractDirectChannel.gotUnknown(AbstractDirectChannel.java:99)
	at net.schmizz.ssh

[2017-07-12 10:53] Jay-P commented on #340
I fixed my issue.

[2017-07-12 10:53] #340 closed

[2017-07-12 10:56] hierynomus commented on #340
Hi @Jay-P, could you elaborate what you did wrong and how you fixed it. Could be great documentation for somebody who runs into the same trap...

[2017-07-12 20:35] MeenaMani commented on #333
I think it cannot create a stream to a virtual directory, and hence it is failing the upload.

[2017-07-19 14:06] shargon opened #341 "Security problem"
This library have a hight security problem, exposed in this spanish blog "https://www.fwhibbit.es/0day-senor-tiname-el-sobrero-rfi-por-ssh"

SCP accept any name, and could produce a RFI in scenario like this

https://youtu.be/gKnDuLy4bwk

There is no check of the file name at "https://github.com/hierynomus/sshj/blob/master/src/main/java/net/schmizz/sshj/xfer/scp/SCPDownloadClient.java#L156" and "h

[2017-07-24 10:59] McFcologne opened #342 "net.schmizz.sshj.userauth.UserAuthException: Exhausted available authentication methods"
Im using this component for years and everything worked fine until something, i dont know what, changed at the server i connect to (the admin from the other end changed "nothing", he said).

My log shows me the following:
[code]

The error occours at this line:
`ssh.authPassword(config.getString("export.user"), config.getString("export.pass"));
`
The user and password are definitely correct and im

[2017-07-24 11:06] hierynomus commented on #342
Have ypu loaded bouncycastle? I think they might have disabled lowstrrngth
encryption on the server side. Bouncycastle should allow you to use
highstrength encryption.

Op 24 jul. 2017 12:59 p.m. schreef "Michael Fritzsche" <
notifications@github.com>:

[2017-07-25 08:59] hierynomus commented on #341
Thanks for notifying me. I'll patch and release it as soon as possible. Shouldn't be too hard.

Do you know whether there is a good English translation available of the security leak?

_Sent from my Samsung SM-G950F using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-25 20:14] bigflower123 opened #343 "Continue to upload files, ssh Channel open failure"
Hello,

I want to continue to upload files . So it needs to keep sshClient opening.
But after  serverals files are uploaded, it reaches the limit of session. I have this error "channel
open failure". Why have I this problem and  How can I sovle this problem.

Thanks

[2017-07-25 20:46] hierynomus commented on #343
Can you paste some stacktraces and more relevant info such as a
reproduction case or sample code?

2017-07-25 22:14 GMT+02:00 Lin <notifications@github.com>:

[2017-07-25 20:53] hierynomus commented on #341
Hi @shargon I've made a PR for this, can you check whether this fixes the problem?

Thanks!

[2017-07-26 07:56] shargon commented on #341
Thanks for the quickly fix of the bug, the problem for test it, its that im not good Java programmer (only in android) and i found this bug via HackerOne at Ubiquiti.

But i can see your test, and aparently are ok, if the method receibe the download of a file 'foo' can't get 'bar' or similar, only the 'foo' file must be right

Sorry for my english

[2017-07-30 05:35] prasanta-biswas opened #345 "How can I execute a series of command over the same channel with same session?"

[2017-07-30 06:34] fenik17 commented on #345
You can not. See [Session's javadoc](
https://github.com/hierynomus/sshj/blob/master/src/main/java/net/schmizz/sshj/connection/channel/direct/Session.java#L30):

[2017-08-08 03:16] FearlessHyena commented on #82
Same here. Did anyone find a workaround for this?

[2017-08-08 09:10] NotAGitHub opened #346 "can i authenticate to the server which require both password and key?"

[2017-08-08 09:12] hierynomus commented on #346
What kind of server is that? What is the auth method it sends then?

_Sent from my Samsung SM-G950F using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-08-08 10:00] NotAGitHub commented on #346
Sftp server I guess.
This is a telnet result:

Escape character is '^]'.
SSH-2.0-VShell_3_9_1_494 VShell

_Sent from my Google Pixel using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-08-08 10:05] hierynomus commented on #346
What error do you get when you connect and authenticate to the server?

_Sent from my Samsung SM-G950F using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-08-08 10:36] NotAGitHub commented on #346
I did not try to connect yet due to network problem. But I didn't found any method to do that. Do you have any suggestion?

_Sent from my Google Pixel using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-08-08 10:53] hierynomus commented on #346
The question really is how is it normally authenticating. There is no
(default) auth-method in SSH that I know of that does both things in one go.

So the question is what is the authentication flow?

2017-08-08 12:36 GMT+02:00 NotAGitHub <notifications@github.com>:

[2017-08-08 11:03] NotAGitHub commented on #346
Im trying to migrate from JSCH. And I have work well code below.

JSch jsch = new JSch();
				jsch.addIdentity(sshPath);
				log.info("Certificate: " + sshPath+" is correct.");
				Session session;
				session = jsch.getSession(destUser, destHost, destPort);

				if(destPassword!=null && !destPassword.equals("")){
					UserInfo ui = new MyUserInfo(destPassword);
					session.setUserInfo(ui);
				}

[2017-08-08 11:30] hierynomus commented on #346
Ahh now I understand. It does not use both. It just sets it up so it support multiple auth-methods.

In SSHJ you could do this with:

[code]

[2017-08-09 11:24] NotAGitHub commented on #346
It's work! Thank you for your help!!

I fixed your code a little bit. ill post it for someone who need it.

      List<AuthMethod> authMethods = new ArrayList<AuthMethod>();

			if(sshPath != null && !sshPath.equals(""))
			authMethods.add(new AuthPublickey(ssh.loadKeys(sshPath)));

			if (pass != null && !pass.equals("")) {
			    PasswordFinder pf = new PasswordFinder() {
			        @Override

[2017-08-09 11:35] hierynomus commented on #346
Thanks and good luck!

[2017-08-09 11:35] #346 closed

[2017-08-09 11:36] hierynomus commented on #345
Indeed see the JavaDoc, you should use a Shell if you want to execute more commands (or upload a script that contains all your commands and then execute it as a single command.

[2017-08-09 11:36] #345 closed

[2017-08-11 12:53] pun-ky opened #347 "Gradle integration won't work"
I am developing a Gradle plugin which will use sshj under the hood, example snippet (Kotlin):

[code]

when I run code above with `gradle --no-daemon` it is working properly, but when I run daemon, exception occurring:

[code]

any ideas how to solve it?

[2017-08-11 12:56] hierynomus commented on #347
Not without a lot more logging. If it works without the daemon but not with, it could be a classpath issue? Maybe the daemon does not load a library, or maybe an older version accidentally?

[2017-08-11 13:32] pun-ky commented on #347
yep I am also thinking about the classpath, but I don't have any idea to fix it right now. I am looking for inspiration ;) maybe someone will suggest sth interesting :)

[2017-08-11 14:52] pun-ky commented on #347
looks like it will be that https://stackoverflow.com/a/36262268 , but how to fix that

[2017-08-11 14:57] hierynomus commented on #347
Have you tried to mark the bouncycastle jars as a classpath dependency in
the buildscript block?

2017-08-11 16:52 GMT+02:00 Krystian Panek <notifications@github.com>:

[2017-08-11 23:35] SyamalaTadigadapa opened #348 "The 'ls' command takes ages if remote directory has a lot of files."
This problem is observed with 0.9.0 version of sshj.
Even 10000 is a lot of files.
It took about 4200 seconds to get the list of files!
The problem is not sporadic. It is a consistent one.
Initially observed that getting the list of files from a remote directory with 100,000+ files was going on for ever - not ended even after 4 days!
BTW both local and remote systems are Linux systems.

[2017-08-14 05:38] pun-ky commented on #347
when project using plugin adds it as classpath dependency it is working, but it will be not elegant to require plugin users to perform this additional step :/

[2017-08-14 05:51] pun-ky commented on #347
maybe that is root cause?

[code]
?

[2017-08-14 05:57] pun-ky commented on #347
yep, when I applied this fix, https://stackoverflow.com/a/41002560 the issue is gone. maybe this check should be more passive in case of Gradle daemon? I think that maybe there is some race condition somewhere

[2017-08-16 14:05] amatzen opened #349 "Using Mountain Duck - Failure with SSHJ"
`2017-08-15 22:42:25,693 [Thread-13] WARN  ch.iterate.mountainduck.fs.SessionFilesystem - Finalize file system callback SessionFilesystem{bookmark=Host{credentials=Credentials{user='root'}, hostname='matzen.it', defaultpath='null', port=22, protocol=Profile{parent=sftp, image=null}}, controller=ch.iterate.mountainduck.fs.FilesystemController@25b5e70}
2017-08-15 22:43:08,320 [reader] ERROR net.schm

[2017-08-16 15:14] T3rm1 opened #350 "Why do I need public key for auth?"
Isn't it possible to derive the public key from the private key? Why do I need to set the public key in the KeyProvier? It would be easier to only set the private key.

[2017-08-16 15:19] hierynomus commented on #350
Can you clearly describe (including code sample) what you're trying to do
and with methods you're invoking?

2017-08-16 17:14 GMT+02:00 T3rm1 <notifications@github.com>:

[2017-08-17 09:56] T3rm1 commented on #350
`sshClient.loadKeys(keypair)` requires a `KeyPair`. In order to auth I have to set the private key and the public key of it. If I'm not mistaken the public key can be derived from the private key. If you do that in your library the user would'nt need to load the public key first and it would be enough to set only the private key.

[2017-08-18 09:50] hierynomus commented on #350
@T3rm1, if you look at the methods to authenticate, there are actually multiple ways that handle this exact usecase for you...

- `SSHClient.authPublicKey(String username)`: Uses the default named keys in the users' home-dir
- `SSHClient.authPublicKey(String username, Iterable<KeyProvider>)`: Takes a KeyProvider which can be instantiated with `SSHClient.loadKeys(...)`

The `SSHClient.loadKeys()` m

[2017-08-18 18:01] T3rm1 commented on #350
I was talking about the publickey auth mechanism. Sorry if that wasn't obvious. You named some methods suitable for that method. All of the method require that you load the public and the private key.
Can you explain to me, why in any of these methods, it is required to specify the public key?

[2017-08-21 10:59] tom-gangemi commented on #288
@njoneill, did you find a solution for this? I'm looking to do parallel SFTP transfers and trying to figure out what works.

[2017-08-21 17:49] njoneill commented on #288
@tom-gangemi Yes, the trick is to have the StreamCopier.Listener object returned by SFTPFileTransfer.file throw an IOException from its reportProgress method to abort the transfer.

I gather that this behavior is intentional, as it explains the oddity of having a listener method that can throw an exception.

[2017-08-22 06:06] tom-gangemi commented on #288
Thanks, that does the trick.

For anyone who comes across this and wants to see an example.

    SFTPFileTransfer tfer = ssh.newSFTPClient().getFileTransfer();
    TransferListener transferListener = new TransferListener() {
        @Override
        public TransferListener directory(String name) {
            return null;
        }

        @Override
        public StreamCopier.Listener file(Stri

[2017-08-22 14:42] hierynomus commented on #350
I'm not so sure what you mean still. Most of the methods I mentioned (which _all_ do public key auth) do not require you to load the public key. It will take care of that for you.

Public keys are _sometimes_ easily guessable from the private key, but this is only in specific cases. More generally, most private key encodings actually also contain the public key in an encoded format (so no need to

[2017-08-22 14:42] #350 closed

[2017-08-22 14:43] hierynomus commented on #348
Have you tried with the latest version of sshj? 0.9.0 is ancient.

[2017-08-22 14:45] hierynomus commented on #347
There is a workaround which I have in my mind, but it is non-trivial. Depending on the JCE as we do know, just requires you to load high strength encryption if you need it.

[2017-08-22 14:46] hierynomus commented on #347
Closing this as it is fixed. And mentioning #82 which is what I was hinting at.

[2017-08-22 14:46] #347 closed

[2017-08-22 14:47] hierynomus commented on #329
True, should document that I think.

[2017-08-22 15:04] T3rm1 commented on #350
Ok, check out this [link](https://serverfault.com/questions/52285/create-a-public-ssh-key-from-the-private-key)
I have my private key in a file that is not located at the default location. So I need to use either `loadKeys(KeyPair kp)` or `SSHClient.authPublicKey(String username, Iterable<KeyProvider>)`. Both methods require a public key! This doesn't make sense. Why did you design these methods t

[2017-08-22 15:19] hierynomus commented on #350
The link you're referring to uses the fact that openssh private key files
contain an encoded copy of the public key. But that is not the case for all
types of keys. Just an artefact of how the openssh format works.

Op 22 aug. 2017 5:04 p.m. schreef "T3rm1" <notifications@github.com>:

[2017-08-22 17:32] #341 closed

[2017-08-23 05:48] ojoyo opened #351 "Exhausted available authentication methods"
Please help to resolve the issue, i am trying to perform ssh to remote machine, with pasword and username Code works fine but with authPublickey the following error is displayed -

[code]

Maven Dependency used is as follows -
[code]

[2017-08-23 06:33] hierynomus commented on #351
What is the debug log for a connection attempt?

Op 23 aug. 2017 7:48 a.m. schreef "Jalmeen Kaur Sethi" <
notifications@github.com>:

[2017-08-23 06:51] Jalmeen commented on #351
Attached logs

[code]

[2017-08-23 11:07] hierynomus commented on #351
Please run with a logging backend enabled, such as logback. From this logs
nothing can be determined.

Options are:
- The key is not accepted
- High-strength crypto is not loaded so it could not load any of your keys

2017-08-23 8:51 GMT+02:00 Jalmeen Kaur Sethi <notifications@github.com>:

[2017-08-23 14:23] T3rm1 commented on #350
Oh okay, I didn't know that. Since OpenSSH is the defacto standard implementation of SSH, what other kind of keys do you support?

[2017-08-23 14:51] hierynomus commented on #350
We support a number of key files:
- OpenSSHv1
- OpenSSH
- PKCS#5
- PKCS#8
- Putty

But also be aware (I forgot that was possible) that you may set the second parameter of `loadKeys` to `null` (ie. the `publicKey`), which means there is no separate public key. It will then try to use the encoded key if possible.

[2017-08-24 07:13] hierynomus commented on #342
Any update?

[2017-08-24 11:45] NotAGitHub opened #352 "Can I put a file without changing mode and modtime?"
I try to put a file to an external server and got a permission exception but JSCH can work well.

I try to compare them and realize that JSCH doesn't have changing mode,modtime but SSHJ does.

Can I avoid them?

_Sent from my Google Pixel using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-08-28 19:42] eidottermihi commented on #308
I could workaround that issue with extending AndroidConfig
[code]
and using that as Config. Works on Android 5.0.

[2017-08-29 07:46] jankowskirobert opened #353 "SocketClient - reconnect"
Could you add reconnect() method to recreate connection but with current configuration ?
Because now i must to find way out of my service and then recreate connection in my factory method and then again back to service.

[2017-08-31 19:08] charlesrgould commented on #289
I saw the same behavior when closing session / disconnecting from Cisco device. It's not possible to handle the exception since it gets caught and logged internally by sshj. My solution (to keep the error out of the logs) was to remove the call Session#close and just call SSHClient#disconnect. If that specific combination doesn't work for you, maybe some other combination of calls will.

[2017-08-31 19:29] charlesrgould opened #354 "Invalid encoding for signature: redundant leading 0s"
Related bugs:

1. https://sourceforge.net/p/jsch/bugs/111/
2. https://bugs.openjdk.java.net/browse/JDK-8174719

Synopsis:

Security fix in Java 8u121 exposed an encoding issue in some SSH libraries. In other words, these libraries were relying on buggy code in the JDK. Now that it's fixed in the JDK, these libraries mess up. Specifically: redundant 0s should be stripped from the signature.

Enviro

[2017-08-31 20:21] charlesrgould opened #355 "Error decoding signature bytes"
Similar to #354, but I do not know if it has the same cause/fix.

Please let me know if these tickets are not informative enough. I can try to give more relevant details.

Environment:

- Java 8u144
- sshj 0.21.1
- connecting to Cisco devices (IOS XRs)

[code]

[2017-08-31 22:01] hierynomus commented on #354
If you have a unit test case to reproduce this that would be great.

[2017-09-05 12:57] druhm opened #356 "org.bouncycastle.jcajce.provider.asymmetric.ec.BCECPrivateKey cannot be cast to java.security.interfaces.ECPublicKey"
Hi,

I have a problem with SSJ when I connect to an OpenSSH server (6.6.1) with ECDSA keys (ecdsa-sha2-nistp256). While RSA and DSA keys work without any problems, ECDSA keys fail to authenticate a user. OpenSSH is well configured; using the very same keys with other tools (e.g. putty) I can successfully connect with ECDSA as well. Therefore I think its an SSHJ issue.

The problem is a bad cast fr

[2017-09-05 12:59] hierynomus commented on #356
THanks for the carefully described issue! Which version of SSHJ are you using? (Just to check :))

[2017-09-05 13:01] druhm commented on #356
That was fast :). sshj-0.22.0.jar

[2017-09-05 13:02] druhm commented on #356
I did not build this myself, but used the jar from http://repo1.maven.org/maven2/com/hierynomus/sshj/0.22.0/

[2017-09-05 13:23] #356 closed

[2017-09-05 13:32] hierynomus commented on #356
Fixed it ;)

[2017-09-05 13:59] druhm commented on #356
Nice. Thanks a lot!

[2017-09-07 21:19] hierynomus commented on #354
@charlesrgould Can you craft some unit test case that fails so that we can make work of solving this? thanks!

[2017-09-07 21:38] charlesrgould commented on #354
I've been trying to do just that. On our devices it's intermittent. The code logs in to the device several times in short succession, using username-password auth. Occasionally we see this exception about the key exchange messing up. Do you have any insight (or guess) as to what could be the problem?

Feel free to close the two tickets I created if I fail to generate a test case within the next fe

[2017-09-07 21:42] hierynomus commented on #354
I assume it's a genuine bug, also given the other kinoed reports, so
closing it is not my first option ;). However I'm not sure where the bug
is, nor how to reproduce.

Op 7 sep. 2017 11:38 p.m. schreef "charlesrgould" <notifications@github.com

[2017-09-12 17:41] mvysny opened #358 "et.schmizz.sshj.transport.TransportException: [HOST_KEY_NOT_VERIFIABLE] Could not verify `ecdsa-sha2-nistp256` host key with fingerprint ..."
I'm using sshj 0.22.0; the following code fails for me:

[code]

The log output is:
[code]

I can ssh from my Linux box to the machine without any issues, so the known_hosts file is fine and is in the following format:
[code]

NB: it is extremely ugly to throw an exception with a stacktrace coming from a different thread since it is impossible to see where exactly in my code the SSH connection fai

[2017-09-12 17:46] mvysny commented on #358
I can see that this issue is the same as #318, however:
1. I am using openjdk8 and thus the unlimited cryptography policy
2. I am loading known_hosts
3. For security reasons, using `PromiscuousVerifier` is out of the question.
Any suggestions please?

[2017-09-14 17:29] charlesrgould commented on #355
Unit test to cause this exception. Taken from https://github.com/Jurrie/jsch-111-bugfix/blob/master/src/test/java/org/jurr/jsch/bugfix111/SignatureDSATest.java.

See the author's comment here: https://sourceforge.net/p/jsch/bugs/111/#b2eb

[code]

I am working on a pull request to port @Jurrie's changes to sshj.

[2017-09-15 16:17] godenji commented on #351
May not be related but I get the same error with public key auth.

log reveals little:
DEBUG c.h.s.u.k.OpenSSHKeyV1KeyFile [OpenSSHKeyV1KeyFile.java:100] Reading unencrypted keypair

Running openjdk latest (1.8.0_144). Strange thing is that the same application works fine with sshj on the staging server, but not production.

I'm wondering if the staging server pulls in a missing piece (like bouncy

[2017-09-15 19:29] hierynomus commented on #351
@godenji that message means you have not loaded the unlimited strength crypto extensions. See whether that helps

[2017-09-15 21:15] godenji commented on #351
@hierynomus thanks, JCE unlimited is apparently built-in on 1.8.0_144
[code]
there must be something else going on, totally baffled as to why staging server running identical openjdk and corresponding java application works fine with sshj, while production fails.

[2017-09-16 13:34] godenji commented on #351
@hierynomus yeah, so openjdk ships with JCE unlimited, that's not the issue, it's support for openssh private keys. Staging server jvm user's private key (RSA) was setup before rolling out to openssh private keys on new servers, thus the reason for staging working and production failing.

Looks like I'm hitting a variation of #358, albeit without the `PromiscuousVerifier` restriction. Does sshj su

[2017-09-19 06:16] onyas opened #360 "When mkdirs using Multiple thread,it Failure"
logs

net.schmizz.sshj.sftp.SFTPException: Failure
	at net.schmizz.sshj.sftp.Response.error(Response.java:136)
	at net.schmizz.sshj.sftp.Response.ensureStatusIs(Response.java:129)
	at net.schmizz.sshj.sftp.Response.ensureStatusPacketIsOK(Response.java:122)
	at net.schmizz.sshj.sftp.SFTPEngine.makeDir(SFTPEngine.java:182)
	at net.schmizz.sshj.sftp.SFTPEngine.makeDir(SFTPEngine.java:187)
	at net.sch

[2017-09-19 10:10] hierynomus commented on #360
Correct, `mkdirs` is not a threadsafe operation, as it will cut the path up, stat the existence of each part and then in turn it will call `mkdir` for each part that does not exist.

I can optimize the loop slightly to lessen the chances of this happening. But it will still not be threadsafe then. I'm not inclined to make this method threadsafe, as that has enormous impact on the throughput of unr

[2017-09-19 12:40] onyas commented on #360
All right,I get it

[2017-09-19 12:40] #360 closed

[2017-09-19 17:14] kokowo commented on #355
I got the exact same issue on same env. It happens randomly. Any update on this issue?

[2017-09-19 17:17] charlesrgould commented on #355
Whoops. Didn't mean to close and open...

[2017-09-20 12:10] hierynomus commented on #349
Have you asked @dkocher who developed CyberDuck and MountainDuck?

[2017-09-20 14:02] amatzen commented on #349
Yes, he gave me instructions to update it, however doesn't work yet :(

[2017-09-21 12:26] jiacheo opened #362 "Is there any possibility to reuse SshClient instance?"
I create an sshClient instance  and want to reuse in next request.

But when I close the shell or  session it open, the sshClient will be close too.

And when I didn't close the shell or session, the next request to startSession will hang there.

[code]

and if I didn't close the shell
[code]

Thanks for have a read.

[2017-09-25 13:23] marcvg opened #363 "RSA key authentication causes TimeoutException."
Hi,

While our code works perfectly locally, it fails to authenticate with a private key on a zlin server. It looks like the loadKeys method takes longer than 30 seconds.

2017-09-22 10:19:03,197 [WorkManager.DefaultWorkManager : 7] INFO - [n.s.s.t.TransportImpl] - Client identity string: SSH-2.0-SSHJ_0.21.1
2017-09-22 10:19:03,208 [WorkManager.DefaultWorkManager : 7] INFO - [n.s.s.t.TransportImpl

[2017-09-26 12:50] marcvg commented on #363
What we know so far: it runs fine when execute from a jar. It fails when deployed on a Websphere application server.

[2017-09-26 14:30] #363 closed

[2017-09-27 14:32] jpstotz opened #364 "Using SHA-1 and SHA-256 SSH fingerprints"
Modern Linux installations no longer provide MD5 SSH fingerprints by default.
Therefore I implemented some code for replacing calls like

`sshClient.addHostKeyVerifier("4b:69:6c:72:6f:79:20:77:61:73:20:68:65:72:65:21");`.

Using the helper class from the following [GIST](https://gist.github.com/jpstotz/c336759aa4d67d9ab60d90a47e586e67) it is possible to write:

`sshClient.addHostKeyVerifier(SSHFin

[2017-09-28 10:00] hierynomus commented on #364
Thanks for the Gist and issue, I've added this in PR #365

[2017-09-28 12:01] #364 closed

[2017-09-29 02:07] tliebeck opened #366 "Class javax.xml.bind.DatatypeConverter not available on Android, but can be avoided"
I'm using (or rather am going to be using) SSHJ in an Android app.  I'm seeing a crash with public keys with passphrases due to a NoClassDefFoundError for javax.xml.bind.DatatypeConverter, which is not available in Android.

DatatypeConverter is used only by net.schmizz.sshj.userauth.keyprovider.PKCS5KeyFile to convert a hex string into a byte array.

I've fixed this problem by removing this depen

[2017-09-29 09:41] coudy commented on #366
Removing the dependency on `java.xml` is also necessary for Java 9 SE compatibility.

[2017-09-29 09:55] hierynomus commented on #366
@tliebeck @coudy Have a look at the current master, this has already been fixed :) I will release a new version coming week.

[2017-09-29 11:23] #354 closed

[2017-09-29 11:23] #355 closed

[2017-09-29 11:25] hierynomus commented on #352
Are you using sftp or scp?

[2017-10-02 15:39] coudy opened #367 "command.getOutputStream().close() no longer closes standard input"
I just did a large upgrade from 0.9.0 to latest master and found that closing the stdin output stream on a command no longer has any effect, so my script hangs waiting for EOF, and subsequently fails with a timeout on `command.join(...)`.

Related to https://github.com/hierynomus/sshj/issues/233 except I can't easily work around having to EOF stdin, so I want the old functionality back.

[2017-10-02 15:48] coudy commented on #367
Duplicate of #143, using the proposed workaround for now.

[2017-10-02 15:48] #367 closed

[2017-10-04 18:16] BigChief45 commented on #358
I am experiencing the same issue. I can connect no problem using a different client such as WinSCP.

Any ideas?

@hierynomus

[2017-10-04 21:27] hierynomus commented on #358
Can you try using the latest master? There were some corner case bugs.

[2017-10-05 10:34] NotAGitHub commented on #333
Hello, I face against the same issue. In my case the remote value is "." (I use the StatefulSFTPClient and cd to the destination path first). I Think "." is not a directory.

[2017-10-09 10:05] PolMirr commented on #317
Hi!

I have same issue with local port forward. I suppose that issue appears due to SocketStreamCopyMonitor class. When you invoke listen() method then instance of LocalPortForwarder.DirectTCPIPChannel class is created and invoked start() method. After that anonymous daemon threads are created by SocketStreamCopyMonitor. I suppose this threads have incorrect condition of termination.
Unfortunatly,

[2017-10-10 08:56] coudy commented on #366
@hierynomus any news on the release? :) cheers

[2017-10-10 11:07] NotAGitHub commented on #352
Im using sftp

[2017-10-10 17:02] paladox opened #370 "Update eddsa to 0.2.0"
Hi could this eddsa be updated to 0.2.0 please? Only asking since apache mina uses it so if you use both ssj and apache mina, something may clash and break due to api incompatibility between eddsa 0.1.0 and 0.2.0.

[2017-10-10 21:18] paladox opened #373 "Bump java version to 8"
Hi could the java version be bumped to 8 please?

Most projects are using java 8 over java 6 / 7 as both those releases are unsupported now.

[2017-10-11 09:23] LiTe1991 opened #375 "Question about verification of the Server"
Hi guys

First of all I think it´s a great library, which you have created.

I have one question.
At the time I have following implimentation of SFTP:
`sshClient = new SSHClient();
 sshClient.addHostKeyVerifier(new PromiscuousVerifier());
 sshClient.connect("Host", Port);
 sshClient.authPassword("User", "Test");

 sftpClient = sshClient.newSFTPClient();`

My question is, how can I verify the serve

[2017-10-11 19:46] hierynomus commented on #375
I assume that you're referring to verification of the server key. This can be achieved by using the `OpenSSHKnownHosts` `HostKeyVerifier` instead of the `PromiscuousVerifier`.

[2017-10-11 21:28] hierynomus commented on #373
As of yet there are no plans to migrate to Java8. As far as I know there are still users depending on Java 1.6

[2017-10-11 21:28] #373 closed

[2017-10-11 21:29] hierynomus commented on #370
Merged #372

[2017-10-11 21:29] #370 closed

[2017-10-12 14:19] dixon961 commented on #350
When I try to connect by SSH to server i can input in terminal:
`ssh -i ./private_key root@IP` (IP == ip of my server)
where private_key is a file where only private key is written (i created it by myself, just paste known private key)

Using your library i want to connect to server only having `serverIp` and private key as `String`.
I can use `OpenSSHKeyFile` and my `private_key` file and it work

[2017-10-12 21:37] pascalrobert opened #376 "Can't transfer file to Windows (SSH_MSG_UNIMPLEMENTED)"
Hi,

I'm working on a Web app that will transfer files to virtual machines, including Windows 7/8/10 VMs. I have installed OpenSSH 7.5 on those machines, but when I try to copy files to it, I get:

[code]

The key file is valid and the path is good. I can use scp from my Mac to copy to the same host without any problems.

I do call authPublickey, so I don't know what's happening. And yes, the user

[2017-10-13 13:49] hierynomus commented on #350
@dixon961 You can implement a new type of `KeyProvider` which could take the privatekey as a byte array or base64 encoded string.

Please note that htis issue was closed. If you want to raise a feature request, please submit a new issue.

[2017-10-16 17:35] pietermartin opened #377 "Is jumphost supported"
We are using sshj successfully for a long in our project. Thanks for the excellent project.

We now have a requirement to use ssh's jumphost ability.

`ssh -tt user@ip telnet ip port`

If this possible with sshj?

[2017-10-18 21:08] BigChief45 opened #378 "Umask permissions on SFTP file upload"
I am doing some file uploading using SFTP and then setting the file permissions after upload:

[code]
However, when using SSH to check the assigned permissions of the uploaded file, I get these permissions:

[code]

As you can see, this are not the correct permissions for a `chmod 660` command, which should be:

[code]

This leads me to believe that the user doing the SFTP upload's **umask** is in

[2017-10-27 16:22] BigChief45 commented on #378
@hierynomus Any ideas?

[2017-11-01 12:15] richbirch commented on #358
Latest version (0.23.0) is still giving me this issue. Any found a workaround?

[2017-11-07 14:21] fakemail324 commented on #145
Hi,
We stared using SSHJ as a replacement for Jsch in our project and recently we started facing the "deadlock" issue. Are there any plans to fix it?

Regards

[2017-11-08 16:42] magg opened #379 "ssh connection takes a long time with Bouncy Castle"
I have this piece of code to validate a connection to a remote host, I perform more than 10 connections when I run the program and it takes 13 seconds to execute.

I have enabled Bouncy Castle as a security provider and added the corresponding jars to my classpath

Is there any way to avoid taking such a long time?

[code]

Is it something wrong with the code? or it's just a network I/O problem?

[2017-11-09 19:57] stefan-reich opened #380 "Suddenly: Unable to reach a settlement"
Hi, I've been using the same program already, and it worked fine. Suddenly though, I get "unable to reach a settlement". Any ideas?

[Program](http://tinybrain.de/1011885)

[2017-11-09 20:00] hierynomus commented on #380
@stefan-reich Can you post the `trace` level logging? That usually points out what's going wrong.

[2017-11-09 20:13] stefan-reich commented on #380
I think it works again... that's crazy. No idea what happened there. Thanks, and thanks for the software, I like to do SSH in [Java(X)](http://javax.tinybrain.de) :-)

[2017-11-09 20:17] stefan-reich commented on #380
Can you tell me quickly how to enable trace level logging?

[2017-11-09 20:34] hierynomus commented on #380
Edit logback.xml and set the `com.hierynomus.sshj` and `net.schmizz.sshj` loggers to level `trace`.

See the `src/test/resources/logback-test.xml` file for an example.

[2017-11-09 20:36] hierynomus commented on #379
10 connection attempts taking in total 13 seconds? That means on average 1.3 secs per attempt. That does not sound unreasonable for the amount of network IO that needs to happen, including opening sockets and potentially resolving domain names...

[2017-11-09 21:04] magg commented on #379
@hierynomus Ok but is there something I can do speed up the connection process?

like creating a default config at the beginning and passing it to the sshclient objects,  for example:
[code]

[2017-11-09 21:26] hierynomus commented on #379
Creating a single config will definitely speed up the process as each new config initializes a `Random` instance. Initializing that needs entropy, which in quiet systems (such as VMs) will lead to significant slowdowns in the initialization sequence.

[2017-11-09 21:38] magg commented on #379
nice, any other tips to speed up?

[2017-11-09 22:13] magg commented on #379
using Jprofiler I found that CPU is mostly used by java.security.KeyPairGenerator.generateKeyPair
and javax.crypto.KeyAgreement.doPhase...

I'm using the default config but they still take most of the CPU time

[2017-11-10 03:54] stefan-reich commented on #380
Hm, I never use these XML files... can I do it in Java?

On 9 November 2017 at 21:34, Jeroen van Erp <notifications@github.com>
wrote:

--
Stefan Reich
BotCompany.de

[2017-11-10 08:36] hierynomus commented on #380
Yes, should be possible. See the https://logback.qos.ch/ site :)

[2017-11-10 08:37] hierynomus commented on #379
Which makes sense, they're crypto functions and need to calculate some stuff. That is definitely not cacheable ;)

[2017-11-10 08:43] hierynomus commented on #378
There is no way to client-side set the umask as far as I'm aware, also google has not turned up any results. It seems that newer SFTP specifications (later than level 3) have included a detailed specification on how umask should be applied, but as mentioned [here](https://serverfault.com/questions/639042/does-openssh-sftp-server-use-umask-or-preserve-client-side-permissions-after-put) OpenSSH seem

[2017-11-11 19:59] stefan-reich commented on #380
Hm, it happened again. Let me say that I REALLY hate log4j. I have never seen a library that offers less value for the overhead. Actually it offers NO value.

So now I have to add logback to my project, and try to understand it, JUST to enable trace logging?

The way I do things in JavaX, I would have a function called `enableTraceLevelLogging();`... and that would be it. My life's purpose is to m

[2017-11-11 20:08] stefan-reich commented on #380
Now it's working again BTW.. same servers, same client, same everything. It randomly works and randomly doesn't.

[2017-11-13 12:51] blablabla42 opened #381 "WildHostMatcher doesn't escape square brackets ([, ])"
The [WildHostMatcher](https://github.com/hierynomus/sshj/blob/master/src/main/java/com/hierynomus/sshj/transport/verification/KnownHostMatchers.java#L138) escapes a number of characters before interpreting it as a regex. It should also escape square brackets, or else the regex will be misinterpreted.

For example, `[foo.com]:2222` will be interpreted as the regex "match any of characters f, o, o..

[2017-11-13 14:49] #381 closed

[2017-11-13 14:50] hierynomus commented on #381
Fixed, thanks for reporting 👍

[2017-11-13 14:51] blablabla42 commented on #381
Thanks for quick turn around! Do you have any plans to cut a new release soon?

[2017-11-13 14:52] hierynomus commented on #380
For that I would really need some logging to see why it suddenly would refuse to reach a settlement.
Is it maybe sometimes running with a JVM that has not enabled high strength encryption? So then the larger key sizes cannot be used.

[2017-11-13 15:06] hierynomus commented on #379
@magg Any more help needed?

[2017-11-13 15:08] hierynomus commented on #376
Can you increase the logging level. It's not clear where it is currently failing.
Also it's important to look at the SSH server logging. It's sending an UNIMPLEMENTED packet. This means that it got something it didn't understand.

[2017-11-13 15:08] hierynomus commented on #375
@LiTe1991 Any more help needed?

[2017-11-13 15:09] hierynomus commented on #366
@coudy @tliebeck Does the latest release work for you wrt this issue?

[2017-11-13 15:14] hierynomus commented on #362
The client should be reusable. The session/command are definitely not.
There is no need to close both the session and the shell. They're identical, and it might even lead to an error situation where it sends the close channel command twice.

[2017-11-13 15:25] hierynomus commented on #381
Not this week probably. Would that be a problem?

[2017-11-13 15:40] magg commented on #379
no, closing

[2017-11-13 15:40] #379 closed

[2017-11-14 00:19] stefan-reich commented on #380
Hi hierynomus, hope this helps?

[code]

[2017-11-14 00:30] stefan-reich commented on #380
OK, I'm now using the latest version and I think it is fixed. Thanks :)

[2017-11-14 12:05] hierynomus commented on #380
Basically looking at the exception message you've got SSHJ configured for only the kex algorithm:

- `diffie-hellman-group1-sha1`

Whereas the server supports the following kex algorithms:
- `curve25519-sha256@libssh.org`
- `ecdh-sha2-nistp256`
- `ecdh-sha2-nistp384`
-  `ecdh-sha2-nistp521`
- `diffie-hellman-group-exchange-sha256`
- `diffie-hellman-group14-sha1`

Newer versions of SSHJ indeed supp

[2017-11-14 12:05] #380 closed

[2017-11-14 13:14] blablabla42 commented on #381
Not at all, thanks again for the quick fix!

[2017-11-15 15:04] hierynomus commented on #366
Closing as it is solved in v0.23.0

[2017-11-15 15:04] #366 closed

[2017-11-20 21:14] jzwolak opened #383 "Use Mac OS X keychain"
Add support for using the Mac OS X keychain for storing the passphrase. Apple's OpenSSH implementation supports this and something like this used to work with sshj (read: I didn't have to enter my passphrase), but now I have to enter my passphrase every time I make a connection.

I have Mac OS High Sierra 10.13.1.

[2017-11-22 18:09] magg opened #384 "question: multiple commands in the same session"
Can I run multiple commands (a list of commands) within the same session? I mean without needing to run ssh.startSession()  everytime I run a new command?

Maybe the RudimentaryPTY example can be used in this case? If so could you provide an example on how to use it?

[2017-11-24 09:08] guw commented on #383
This could be the related to the app you are using. I'm investigating a similar issue in Eclipse (which doesn't use sshj but jsch). Is the passphrase dialog provided by sshj or the application embedding sshj?

[2017-11-25 14:17] jzwolak commented on #383
Almost certainly by sshj. Here's why I think that... the program is Gradle and it's doing an automated build and deploy of my code. In Gradle I have custom tasks for uploading my code to a server using sshj. Sshj is called from Gradle, but by the custom task I wrote. So Gradle wouldn't likely know anything about sshj and I certainly didn't prompt for a passphrase. Therefore, the prompt must be com

[2017-12-06 22:34] #384 closed

[2017-12-09 17:43] heldev opened #386 "Reader threads keep prevent programs from exiting"
The client requires explicit call of `close()` before a program finalization. Otherwise the application hangs up with these threads:

[code]

Taking into account that they are reader threads would be great to demonize them or something like that to prevent the unintuitive behavior.

[2017-12-11 10:15] scuhzq opened #387 "< ChannelInputStream for Channel #0 >"
when I use sshj `session.exec` a command, a error occur...
Session.Command backupCmd = session.exec("sudo salt 'test-01' cmd.run 'cp -r /home/test/a.cnf /home/test/temp/a.cnf'");// this is a cp ops

< ChannelInputStream for Channel #0 >

[2017-12-11 10:21] scuhzq commented on #387
oh, so sorry, I forget use IOUtils.readFully

[2017-12-11 10:22] #387 closed

[2017-12-15 07:24] scuhzq opened #388 "why sshj clinet cost too long time to connect?"
long time1 = System.currentTimeMillis();
		ssh = new SSHClient();
		ssh.loadKnownHosts();
		KeyProvider keyProvider = ssh.loadKeys("/Users/hzq/.ssh/id_rsa", "123".toCharArray());
		ssh.connect("192.168.0.44", 22);
		ssh.authPublickey("zhanqi", keyProvider);
		long time2 = System.currentTimeMillis();
		System.out.println(time2 - time1);

log is  4602ms
this usage is not suittable?

and I use jsch
l

[2017-12-15 07:40] hierynomus commented on #388
Which version? What is the trace logging? Are you running in a low entropy system such as a vm?

[2017-12-15 07:58] scuhzq commented on #388
thanks for you reply.
the version is  compile group: 'com.hierynomus', name: 'sshj', version: '0.23.0'
I am running at local, and connect remote server(when I use ssh in iterm，is very fast)。
the log is ...

16:00:59.142 [main] INFO net.schmizz.sshj.transport.TransportImpl - Client identity string: SSH-2.0-SSHJ_0.23.0
16:00:59.152 [main] INFO net.schmizz.sshj.transport.TransportImpl - Server identi

[2017-12-15 08:03] scuhzq commented on #388
I found session.exec if very fast. but load is slow...

long time1 = System.currentTimeMillis();
		ssh = new SSHClient();
		long time2 = System.currentTimeMillis();
		System.out.println(time2 - time1);// 2626
		ssh.loadKnownHosts();
		long time3 = System.currentTimeMillis();
		System.out.println(time3 - time2);//594
		KeyProvider keyProvider = ssh.loadKeys("/Users/hzq/.ssh/id_rsa", "xxx".toCharArr

[2017-12-15 08:05] scuhzq commented on #388
16:04:40.496 [main] INFO net.schmizz.sshj.transport.random.BouncyCastleRandom - Generating random seed from SecureRandom.
16:04:40.505 [main] DEBUG net.schmizz.sshj.transport.random.BouncyCastleRandom - Creating random seed took 1 ms
16:04:40.773 [main] WARN net.schmizz.sshj.DefaultConfig - Illegal key size
16:04:40.773 [main] WARN net.schmizz.sshj.DefaultConfig - Illegal key size
16:04:40.774 [ma

[2017-12-16 14:17] willemw12 commented on #308
@eidottermihi: Thanks. That workaround works. A minor update for sshj:0.23.0:

    class SpongyCastleAndroidConfig extends AndroidConfig {
        public SpongyCastleAndroidConfig() {
            super();
            initKeyExchangeFactories(true);
            initRandomFactory(true);
            initFileKeyProviderFactories(true);
        }
    }

[2017-12-19 11:24] yantom commented on #93
File is still named InMemorySourceFile, which is fine for me, however it would be great if you could point this information about no need for actual getLength() somewhere in doc. Javadoc was one of reasons why I moved from jsch to sshj.

[2017-12-26 14:28] KinglyWayne commented on #358
Even if I use PromiscuousVerifier, it still does not work (both 0.22.0 and 0.23.0)

`net.schmizz.sshj.transport.TransportException: java.security.spec.InvalidKeySpecException: key spec not recognized
	at net.schmizz.sshj.transport.TransportException$1.chain(TransportException.java:33)
	at net.schmizz.sshj.transport.TransportException$1.chain(TransportException.java:27)
	at net.schmizz.concurrent.P

[2017-12-26 14:30] KinglyWayne commented on #358
debug log is as blew (for sshj 0.23.0)

`2017-12-26 16:28:18 [[ACTIVE] ExecuteThread: '7' for queue: 'weblogic.kernel.Default (self-tuning)'] DEBUG net.schmizz.concurrent.Promise - Awaiting <<kex done>>
2017-12-26 16:28:18 [reader] DEBUG net.schmizz.sshj.transport.KeyExchanger - Received SSH_MSG_KEXINIT
2017-12-26 16:28:18 [reader] DEBUG net.schmizz.sshj.transport.KeyExchanger - Negotiated algorit

[2017-12-26 14:34] KinglyWayne commented on #358
server is centos7 with OpenSSH_6.6.1
sshj running machine is centos6.8 with oracle jdk +jce enabled
this issue is really driving me crazy
try everthing I can but failed

[2017-12-27 09:01] IgnatBeresnev opened #390 "SFTP Append doesn't work [?]"
I've been trying to append text to the end of the file with `OpenMode.APPEND`, but no luck so far. It seems to ignore this flag and just uses the offset. If I set the offsets (both file & off) to 0, then it'll rewrite the file. How do I go about appending text to the end of the file WITHOUT offsets and ONLY with OpenMode.APPEND, if it's possible?

Here's how I'm trying to do it
[code]

What I want

[2017-12-27 09:27] IgnatBeresnev commented on #390
Maybe the problem is that we shouldn't put file offset if APPEND is specified?

[code]

[2017-12-27 22:02] #187 closed

[2017-12-28 10:58] hierynomus commented on #390
According to the specifications, the `fileOffset` field is required and cannot be omitted. When a file is opened with `SSH_FXF_APPEND`, the sftp server should ignore the offset flag and append to the file.

Which SFTP server are you using?

[2017-12-28 12:01] #390 closed

[2017-12-28 12:02] hierynomus commented on #390
I've added an integration test in 0f67fa2 which shows that it _should_ work with your exact scenario. This is as far as I can see really a bug in your SFTP server.

[2017-12-28 13:30] hierynomus commented on #383
What I think you're facing is the SSH_AGENT. This is something that the OS uses to unlock the keychain if it is locked and a passphrase isn't provided. This is not something SSHJ provide(d) out of the box.

[2017-12-28 13:30] hierynomus commented on #378
@BigChief45 Does that answer your question?

[2017-12-28 17:36] BigChief45 commented on #378
Yes, but I could never get it to work, so I had to opt for a different solution. Thanks for the answer though.

Closing.

[2017-12-28 17:36] #378 closed

[2018-01-02 03:06] a250152 opened #391 "how to use sudo"
Command cmd = session.exec("su root ; 123456");
no work

[2018-01-02 08:52] hierynomus commented on #391
Hi @a250152, That won't work indeed. As a first point, `su != sudo` (i.e. you're asking about `sudo` but the text mentions `su`). Secondly, you need to pass the command you want to execute to `su` (or `sudo`) as: `sudo -u root "123456"`

This only works for passwordless `sudo`. If you need a password prompt, you need to open a shell.

[2018-01-02 08:53] hierynomus commented on #388
Initializing a new `DefaultConfig` takes time as it builds up all the factories. The trick is that you can reuse the config across different `SSHClient`s.

Does this answer your question?

[2018-01-02 10:15] a250152 commented on #391
@hierynomus I want to
Command cmd = session.exec("su root");
but how to input password
I dont kon how to do it

[2018-01-02 10:26] hierynomus commented on #391
You need to open a shell (`session.startShell`) and then read from the inputStream of the shell and write to the outputStream of the shell.

Else take a look at https://github.com/xebialabs/overthere, which has support for this out of the box.

[2018-01-03 00:54] a250152 commented on #391
@hierynomus Thank you so much

[2018-01-03 00:56] #391 closed

[2018-01-09 08:28] IgnatBeresnev commented on #390
You seem to be right. The problem is reproduced only on the server that uses OpenSSH 5.3. However, another server with OpenSSH 7.4 is passing tests just fine.

Thanks. Didn't even think that could be a problem

[2018-01-09 09:03] hierynomus commented on #390
Thanks for confirming! Good to know that OpenSSH had a bug ;).

[2018-01-10 16:55] MrAaronOlsen opened #393 "Auto Reading of SSH Key Types from Known Hosts?"
This is not an issue, but a clarifying question.

I've been playing around with various libraries, specifically JSch and Apache's VFS, to make SFTP connections. I rely on password auth right now and bypassing host verification is not an option. In other libraries I sometimes get host key verification errors even with the host present in the known_hosts file. This is due to the key being of a type

[2018-01-12 13:39] hierynomus commented on #393
If you look at the spec of the known_hosts format, you see that there are multiple ways in which the key format can be specified.
- The second (or third in case a marker is used) field is an integer
- The second (or third) field is a key-type (ssh-rsa, ssh-dsa, ecdsa-...., etc)

In case it is an integer, it actually is an `ssh-rsa` key. In all other cases the type is defined by the type given. But

[2018-01-16 11:37] varunchandran333 opened #394 "Null Pointer Exception"
After connecting to Sftp server,
When FileListActivity loaded,it checks for the Files in route folder like this.
mRootFile = Environment.getExternalStorageDirectory();
for (File f : mRootFile.listFiles()) {
            mFilenames.add(f);
        }
mRootFile.listFiles() crashes.
It gives a null pointer.Y i didnt get?
Please check .

[2018-01-16 12:10] varunchandran333 commented on #394
Sorry i found the cure, Runtime permission is not enabled.That was the issue.Need to ask Read storage permission before this.

[2018-01-16 12:12] varunchandran333 opened #395 "How can i upload from local to Remote.???"
I didnt see that happens in the sample.Is it in the library.

[2018-01-16 14:32] hierynomus commented on #395
SFTP or SCP?

[2018-01-16 15:29] varunchandran333 commented on #395
SFTP

[2018-01-23 18:14] hierynomus commented on #395
What have you tried? Have you looked at the library in your IDE? _Hint:_ There is an `SSHClient.newSftpClient().getFileTransfer().upload(...)` method

[2018-01-23 18:14] #394 closed

[2018-01-23 18:14] hierynomus commented on #393
@MrAaronOlsen Is this answered?

[2018-01-23 18:15] hierynomus commented on #388
@scuhzq Did that answer your question?

[2018-01-23 18:15] hierynomus commented on #383
@jzwolak Does that answer your question?

[2018-01-23 18:59] hierynomus commented on #358
@chqr @KinglyWayne Could you check with a build from PR #396, to see whether that one fixes the problem?

[2018-01-23 21:01] daum commented on #82
Hit this myself =(

[2018-01-23 21:19] jzwolak commented on #383
No.

I don't think SSHJ is properly interfacing with any SSH_AGENT and this is
why SSHJ is prompting me for the passphrase of my ssh keys. It does so
every time... even on the same instance where multiple connections are
made. In other words, it doesn't even remember the passphrase previously
entered despite the program having not exited.

I'm using SSHJ from within Gradle.

I didn't have these pr

[2018-01-24 05:31] montaqa opened #397 "Build issue on Windows"
Hi,

i got the following issue when compiling the lib in Windows.
[code]

[2018-01-24 14:55] hierynomus commented on #358
@mvysny @richbirch Can you also check with a build from #396? I think it should be fixed now.

[2018-01-24 15:54] billstephens commented on #145
I'm trying to optimize performance for buffered writes to our Linux SFTP server for a unhappy customer. I've been testing a variety of buffer sizes and ran into this. I was totally not understanding why I was getting these errors for buffer sizes > 2^15.

[2018-01-24 17:29] chqr commented on #358
@hierynomus Thanks, I'll try #396. I actually suspect this is an issue with BouncyCastle config/initialization in the application we're using. If I simply run [this example](https://github.com/hierynomus/sshj/blob/master/examples/src/main/java/net/schmizz/sshj/examples/Exec.java) against one of our Cent 7 hosts, it works fine.

[2018-01-24 17:45] scuhzq commented on #388
I init a sshClient before executing commands, so the program is not sensitive to the Initializing process.

[2018-01-24 17:46] #388 closed

[2018-01-24 20:13] hierynomus commented on #375
CLosing due to inactivity

[2018-01-24 20:13] #375 closed

[2018-01-24 20:24] hierynomus commented on #383
@jzwolak I'm very certain indeed SSHJ does no agent interfacing by itself.
Please read for instance http://rabexc.org/posts/using-ssh-agent where the concept of ssh-agent is explained.

   ssh, and all its friends (including git, rsync, scp...) will just magically use your agent friend when you try to ssh somewhere. Convenient, isn't it?

Same holds for a program that is backed by sshj, the moment

[2018-01-24 20:27] hierynomus commented on #351
@godenji Try with building a snapshot from #396, I've made some fixes in that PR that hopefully fixes the problems people were running into with ecdh-sha2-nistp256 keys.

[2018-01-24 20:28] hierynomus commented on #342
CLosing due to inactivity

[2018-01-24 20:28] #342 closed

[2018-01-24 20:30] McFcologne commented on #342
I loaded bouncy castle, but i still get the same error...

[2018-01-24 20:34] hierynomus commented on #397
Should be fixed now on master, thanks for reporting!

[2018-01-24 20:34] #397 closed

[2018-01-24 21:18] jzwolak commented on #383
Hi Jeroen,

Thanks for the information. From your suggestions I did a Google search and
found this blog post:
https://blog.elao.com/en/tech/ssh-agent-does-not-automatically-load-passphrases-on-the-osx-sierra-keychain/

And added the "ssh-add" lines to my .profile. This worked for me, even
after a reboot. I no longer have to enter my passphrase.

So it seems this was related to the upgrade to High

[2018-01-24 21:58] hierynomus commented on #383
Hi @jzwolak,

No problem, glad you got it solved! Shoot me a private mail to chat further (email is in my GH profile).

[2018-01-24 21:58] #383 closed

[2018-01-28 18:07] MrAaronOlsen commented on #393
Thank you @hierynomus! Yes this answers my question. This seems like a small thing, but I'm very happy I don't need to worry about checking for key types. Closing issue.

[2018-01-28 18:07] #393 closed

[2018-01-29 08:17] MetalCar opened #398 "BouncyCastle is required to read a key of type ecdsa-sha2-nistp256"
Hello all,

i need some help with this error-message:
BouncyCastle is required to read a key of type ecdsa-sha2-nistp256

The error occures when i call `connect()` on my `SSHClient`.
And the error occures only, when i'm executing the following code from inside a jar-File.

[code]

I hope someone knows what I have to do here.
Thanks for your help!

[2018-01-29 08:22] hierynomus commented on #398
Add bouncy castle to your project dependencies :).

Op 29 jan. 2018 9:17 a.m. schreef "MetalCar" <notifications@github.com>:

[2018-01-29 08:36] MetalCar commented on #398
Ok....It's to early in the morning 😆
Thanks for helping out!

[2018-01-29 09:33] MetalCar commented on #398
@hierynomus Ok i don't get it...Should I add it to my pom.xml, because i'm using maven. Which version should i add? I'm very unexperienced with this bouncycastle thing

[2018-01-29 10:13] hierynomus commented on #398
Hi, yes add bouncycastle 1.57 to your pom.xml indeed. Groupid=org.bouncycastle, artifactid=bcprov-jdk15on

[2018-01-29 10:35] MetalCar commented on #398
But when i add this to my pom.xml and rebuild my jar and try again to run the jar, so the same error occures.

[2018-01-29 10:36] hierynomus commented on #398
Don't forget to register the bouncycastle security provider...

[2018-01-30 08:16] wdcwells commented on #398
`Security.addProvider(new BouncyCastleProvider());
        try (SSHClient ssh = new SSHClient()){
            ssh.loadKnownHosts();
            ssh.connect("localhost");`
i still got this error after what you told to do

[2018-01-30 08:19] hierynomus commented on #398
In that case the most probable problem is that you're not running with the unlimited cryptography strength extensions loaded in your jre.

[2018-01-30 08:23] wdcwells commented on #398
@hierynomus  this only happen on the first time trying to connect an unknown hosts
if i did it on the terminal before, this will go correctly

[2018-01-30 08:32] hierynomus commented on #398
Hmm.. Then it might be throwing the wrong exception message when the key is not in the known-hosts file. Can you send an entire trace log?

[2018-01-30 08:34] wdcwells commented on #398
/Library/Java/JavaVirtualMachines/jdk1.8.0_144.jdk/Contents/Home/bin/java -agentlib:jdwp=transport=dt_socket,address=127.0.0.1:55550,suspend=y,server=n -javaagent:/Users/wdc/Library/Caches/IntelliJIdea2017.3/captureAgent/debugger-agent.jar=/private/var/folders/7b/b0kp96h50x91hq3p9hwzvh4h0000gn/T/capture275.props -Dfile.encoding=UTF-8 -classpath "/Library/Java/JavaVirtualMachines/jdk1.8.0_144.jdk/C

[2018-01-30 08:43] hierynomus commented on #398
High strength crypto indeed is not loaded. You might try to build from pr #396, where I did some work on the ecdsa-sha2-nistp keys.

[2018-01-30 08:54] wdcwells commented on #398
ok thanks!! i'll try it later

[2018-01-30 13:14] MetalCar commented on #398
I'm still struggeling with this bouncyCastle problem. Now i get the message:
Unable to reach a settlement: [] and [aes128-ctr, aes192-ctr, aes256-ctr, arcfour256, arcfour128, aes128-gcm@openssh.com, aes256-gcm@openssh.com, chacha20-poly1305@openssh.com, aes128-cbc, 3des-cbc, blowfish-cbc, cast128-cbc, aes192-cbc, aes256-cbc, arcfour, rijndael-cbc@lysator.liu.se]

[2018-01-30 13:16] hierynomus commented on #398
Please load the high strength crypto extensions for java. There is no available algorithm locally that matches what the server supports.

[2018-02-01 13:50] j0kkeri opened #399 "Q: x.509 type supported?"
Hi,

Not an issue but question and the question might even be some ways irrelevant as I don't fully understand all the certificate aspects:

I have a requirement to use public-private keypair which is x.509 standard, does this library support this kind of certificate?

-J0kkeri

[2018-02-01 14:46] hierynomus commented on #399
Do you mean a keypair used for authentication? Or is the keypair used for host verification?

[2018-02-01 14:52] j0kkeri commented on #399
Sorry, I mean keypair for authentication.

[2018-02-01 15:44] hierynomus commented on #399
Just a question back: What have you tried and where did it lead?

[2018-02-02 08:47] j0kkeri commented on #399
I haven't tried this yet at all, only mapping out the possible solutions as the need is to use x.509 standard public-private keypair.
Unfortunately it is not yet even possible to test this as the server side is not there yet.

In previous life I have used Java keytool and Puttygen to create key pairs but I don't have understanding what requirements does the x.509 set.

[2018-02-06 16:50] golimarrrr commented on #377
Is the `telnet ip port` a real telnet connection or you just need to send/receive data from a TCP port (i.e. a case where you could use netcat instead of telnet)?

[2018-02-06 17:06] pietermartin commented on #377
Its a real `telnet ip port`.

[2018-02-22 05:54] j0kkeri commented on #399
Closing... not really an issue.

[2018-02-22 05:54] #399 closed

[2018-02-22 07:33] ajit-pawar-sp opened #401 "Need example to write command to shell and receive data from shell using input/output streams"
I am new to sshj library, could you please provide me sample code to write command to shell and read its response from it

[2018-02-22 07:55] j0kkeri opened #402 "Authentication problem"
I have a problem authenticating to SFTP server:

Also:

I found other similar issues when disconnecting server but this happens in authenticating...
I am using version 0.23.0

I tried even ignoring this error but then ending up to "Not connected" error.

[2018-02-22 08:37] j0kkeri commented on #398
@MetalCar Have you tried putting the "bcprov-jdk15on-1.57.jar" in to JAVA_HOME\lib\ext ?

[2018-02-22 08:44] MetalCar commented on #398
@j0kkeri Ya, i tried that. I found out, that the most of my problems are causing by the server where I try to connect to. Or rather, I'm giving up^^  So, i will solve that problem on an other way.

[2018-02-22 08:44] #398 closed

[2018-02-23 08:04] j0kkeri commented on #402
NoteForMySelf: Problem might be in 'password' type authenticating, eg. WinSCP automatically falls to 'keyboard-interactive' if 'password' fails.

[2018-02-23 10:52] j0kkeri commented on #402
Ok, now I'm pretty sure that server has some failure in password-type authenticating and server closes the connection as the authentication fails (maybe this is why SSHJ wont work though it should "fallback basic challenge-response authentication")

With other SSH-lib (Ganymed) I am able to connect if I go straight to "keyboard-interactive"

Can anyone please provide help how is the "keyboard-inte

[2018-02-23 20:43] saimsiddiqui opened #403 "net.schmizz.sshj.transport.TransportException [hmac-sha2-512-etm@openssh.com, hmac-sha2-256-etm@openssh.com, umac-128-etm@openssh.com]"
Hello,

We were using JSCH library for SSH but the server updated to use newer key-exchange protocol (curve25519-sha256@libssh.org,curve25519-sha256,diffie-hellman-group14-sha256,diffie-hellman-group16-sha512,diffie-hellman-group18-sha512)

So we looked into SSHJ and found that it supports these protocols but not it is failing due to:

net.schmizz.sshj.transport.TransportException: Unable to reach

[2018-02-23 21:38] AaliMohammed commented on #398
@MetalCar You might need to delete the bouncyCastle jar's and build the application. I was facing similar issue and the reason was bouncyCastle jar's being corrupted.

[2018-02-28 10:14] jansohn opened #404 "Is there a way to specify HostKeyAlgorithms to use?"
I'd like to use `ssh-ed25519` as a host key algorithm when connecting to a SSH server. By default the connection is established with `ecdsa-sha2-nistp256` due to the configuration of the SSH server.

Is there a way to do something like this with `sshj`:

    ssh -o HostKeyAlgorithms=ssh-ed25519 serverName

[2018-02-28 10:45] hierynomus commented on #404
Using the Config object, you can set which SignatureFactories you want to use.

[code]

[2018-03-01 07:52] ragebiswas opened #405 "Host key verification with multiple entries for the same server in known_hosts"
Hi,
  Please correct me if I'm wrong, but it looks like SSHJ does not handle the case of the OpenSSH known_hosts file having multiple entries for the same server. This can end up in practice due to new keys (or even due to servers behind a load balancer perhaps).

The following code in `OpenSSHKnownHosts:verify` seems to be doing the verification:

[code]

However, openssh itself seems to handle t

[2018-03-01 07:56] hierynomus commented on #405
Seems like you're right, I missed that corner case!
Happy to accept a PR! Don't forget to add tests ;)

[2018-03-02 14:57] hierynomus commented on #405
What I'm wondering though, how does OpenSSH handle multiple keys of the same keyformat for the same host? Does it try all of the host entries?

[2018-03-03 05:06] ragebiswas commented on #405
Yes, that's what it looked like from my experiments. I will submit a PR by next week (with test cases :-) )

[2018-03-05 23:47] smartsheetcloudtools commented on #191
For anyone else that finds this - you can just call connect ("HOSTNAME",<Port number>)

[2018-03-05 23:48] delmartechdude commented on #191
For anyone else that finds this - you can just call connect ("HOSTNAME", Port Number )
https://github.com/hierynomus/sshj/blob/master/src/main/java/net/schmizz/sshj/SocketClient.java#L120

[2018-03-12 09:29] hierynomus commented on #403
Can you submit a github issue to track this. I've looked into it, it should
be possible to support -etm MACs, however it is not as simple as adding a
new MAC to the lib, as regular MACs do a MAC-then-Encrypt, whereas -etm
MACs are Encrypt-then-MAC.

Regards,
Jeroen

2018-02-23 21:43 GMT+01:00 saimsiddiqui <notifications@github.com>:

[2018-03-12 09:33] hierynomus commented on #402
Can you register an issue on Github? Also please provide the trace level
logging as well as server side logging. SSHJ does fallback to
keyboard-interactive if you use the SSHClient.authPassword(String username,
PasswordFinder pfinder) method.

Regards,
Jeroen

2018-02-23 11:52 GMT+01:00 j0kkeri <notifications@github.com>:

[2018-03-13 04:41] ragebiswas commented on #405
Hey @hierynomus - https://github.com/hierynomus/sshj/pull/406 is the PR. Please take a look whenever you get a chance :)

[2018-03-21 13:27] bric3 opened #407 "Have you tried ssh with conscrypt ?"
Instead of relying a jvm crypto, some projects now use native approach, like netty, or okhttp.

Conscrypt use a similar appraoch to tc-native to bring native cryptography as a provider.

[2018-03-21 22:55] #405 closed

[2018-03-22 21:52] hierynomus commented on #358
Ok, cool! Thanks for the update.

[2018-03-22 21:52] #358 closed

[2018-03-30 12:21] Dollyn opened #408 "how can i set the working directory when exec(cmd)"
I use the exec to execute a shell script,  and the script need some files with relative path.  But it can't find these files.  Is there any way i can change the working directory before execute the command ?

[2018-04-09 07:15] stockstatus opened #409 "SecurityException for bouncycastle"
Hi,
please could someone help me with following problem. When I want to run code in Idea it fails with this exception:

[2018-04-09 09:04:58,921] ERROR [java.lang.ClassLoader.checkCerts(ClassLoader.java:898)
java.lang.ClassLoader.preDefineClass(ClassLoader.java:668)
java.lang.ClassLoader.defineClass(ClassLoader.java:761)
java.security.SecureClassLoader.defineClass(SecureClassLoader.java:142)
java.

[2018-04-09 07:45] hierynomus commented on #409
Are you trying to make an uber jar? Bouncycastle is signed, so you cannot
easily repackage it.

2018-04-09 9:15 GMT+02:00 stockstatus <notifications@github.com>:

[2018-04-09 20:12] DImuthuUpe opened #410 "Illegal Access Error for Bouncycastle methods"
I'm trying to run following simple two lines and got following error. I tried both 0.24.0 and 0.23.0 versions. What could be the reason for that?

final SSHClient ssh = new SSHClient();
ssh.connect(host);

Exception in thread "reader" java.lang.IllegalAccessError: tried to access method org.bouncycastle.asn1.ASN1Integer.<init>([B)V from class net.schmizz.sshj.signature.SignatureECDSA
	at net.schmi

[2018-04-11 18:40] kdvolder commented on #217
The server I'm trying to connect to only supports `chacha20-poly1305@openssh.com` and `aes128-gcm@openssh.com`.

So can't use SSHJ to connect to it. It would really help if sshj supported these ciphers out of the box.

I wonder if there is a way for me to add this kind of cypher support myself? e.g. via some special configuration options?

[2018-04-12 10:58] hierynomus commented on #217
@kdvolder Normally I'd say yes, unfortunately, the GCM ciphers and chacha20-poly1305 should be implemented as they influence how the package needs to be decoded and encoded. The packet formats are slightly different. Implementing this is something that has been on my todo list for quite some time indeed.

[2018-04-12 15:16] kdvolder commented on #217
Thanks for the response. I'll take your word for that as I know very little about how any of these cipher's work.  Luckily for us I was able to convince someone who has control over this at the server's side to loosen up a bit and add a few more cypher's that sshj does support out of the box.

Still would be nice if sshj supported them, but at least my problem is solved for now.

[2018-04-16 08:31] tmssngr opened #411 "AIOOBE in OpenSSHKeyFile.initPubKey"
We've got a few bug-reports from a user who obviously tried to use an unsupported private key file and hence got following exception (our application runs without assertions enabled):

[code]
The code reads:
[code]
IMHO the method needs to handle invalid user data in a different way than indicating a bug.

[2018-04-16 08:39] tmssngr opened #412 "BufferException in Buffer.ensureAvailable"
Another user reported following exception:
[code]
Again, exceptions caused by wrong user input (file content) never should raise a RuntimeException.

[2018-04-20 11:40] tmssngr commented on #411
Users who report such problems use private keys that look like
[code]
where ours look like
[code]

[2018-04-20 15:35] hierynomus commented on #411
The file is incorrectly flagged as a standard OpenSSH keyfile, instead of PKCS#5 formatted. I'll look into it. This is not a user input error, nor an unsupported key format.

[2018-04-20 15:38] hierynomus commented on #412
Is this related to the previous private key issue (#411)?
I disagree here though that the exception from the buffer is unwarranted. What you're actually asking for is that the `initPubKey` should catch the runtime exception and make something nicer out of it.

[2018-04-20 15:39] hierynomus commented on #410
Are you running in a security sandbox?

[2018-04-20 15:40] hierynomus commented on #409
There's something wrong with your IDEA setup then, esp. if the regular maven build works fine.

[2018-04-23 08:27] tmssngr commented on #412
Yes, this issue is related. Of course you can implement it as you think.

[2018-04-25 07:27] tmssngr opened #413 "PrivateKeyFileResource should use certain encoding"
and not rely on the system property "file.encoding".

[2018-04-25 12:03] tmssngr opened #414 "NoSuchFieldError initializing CustomNamedCurves"
A SmartGit 18.1 user reported following exception on macOS:
[code]
and later (maybe consequential error)
[code]
Unfortunately, I don't have steps how to reproduce.

[2018-04-30 07:13] hierynomus commented on #414
There must be an incompatible BouncyCastle version on the classpath. That is the only explanation I can think of.

[2018-04-30 07:50] #413 closed

[2018-05-01 05:46] tmssngr commented on #414
Yes, you are right. After your message I've checked again the log of the user who reported this error and there was and outdated bcprov-jdk15on-*.jar in the system Java's extensions directory. He removed it and it works fine now. I hate it that the system Java's extension directory is used on a Mac even if you are using a private JRE.

[2018-05-01 05:46] #414 closed

[2018-05-11 07:44] hierynomus commented on #410
@DImuthuUpe Can you check whether you have the right version of BouncyCastle on the classpath?

[2018-05-11 07:45] hierynomus commented on #409
Any update @stockstatus ?

[2018-05-11 07:46] hierynomus commented on #407
What would be the added benefit? I only see the drawback that you become more dependent on system libraries, removing portability. If it is just a JCE provider, it should be drop-in without any code change though.

[2018-05-11 07:47] hierynomus commented on #395
@varunchandran333 Any update? Did you succeed?

[2018-05-11 07:48] hierynomus commented on #352
With sftp there is a switch (`SFTPClient.setPreserveAttributes(false)`)

[2018-05-11 14:00] DImuthuUpe commented on #410
@hierynomus yes there was an old BC jar in the classpath. By removing that fixed the issue. Thank you.

[2018-05-11 14:00] #410 closed

[2018-05-12 13:01] bric3 commented on #407
Performance is one reason, JCE is slow especially, for example gRPC recommands the native appraoch over JCE (regardless of the ALPN issue for Java). Also tc-native and conscrypt embed the native library in their jar, so you don't need the files to be present on your system. (There is different versions depending on the OS, and one that embedd all supported platforms).

[2018-05-16 00:39] IonoclastBrigham opened #416 "Need to deploy build 0.25.0 to MavenCentral"
The link in the readme appears to go to a valid maven repo info page. But if you click through to look at the artifacts, it returns a 404. Likewise, building with the instructions given, maven/gradle will fail to resolve the dependency.

0.24.0 works, but it appears 0.25.0 was never actually published.

Results:

[code]

[2018-05-16 09:28] tmssngr commented on #411
Our workaround is to comment out the OpenSSHKey.init(File) method. We have provided a private key file location. This should never silently read other files like <private-key-file>.pub or <private-key-file>-cert.pub without explicitly telling SSHJ to do.

[2018-05-22 10:23] tfcardoso opened #418 "Putty ppk key always returning "Exhausted available authentication methods""
Hi,

I'm trying to connect to server via ppk generated with puttygen.exe (connecting via putty.exe is working).

I tried the following code:

    SSHClient ssh = new SSHClient();
    ssh.addHostKeyVerifier(new PromiscuousVerifier());
    ssh.connect("server_url");
    try {
        PuTTYKeyFile key = new PuTTYKeyFile();
        key.init(new StringReader(ppkdsa_passphrase));
        ssh.authPublick

[2018-05-23 08:28] Simsal opened #419 "Unable to reach a settlement: []"
Hey,
I allways get following error when i try to copy a file from RHEL 7 to RHEL 7.
It looks like as if sshj doesn't offer any algorithms?
(based on your answer here: [(https://github.com/hierynomus/sshj/issues/380)]

[code]

Do i need to configure them somewhere?

my pom.xml:
[code]

[2018-05-23 08:30] hierynomus commented on #419
Hi @Simsal please load the unlimited strength Java crypto extensions. That should help getting a settlement

[2018-05-23 14:05] Laggar opened #420 "Can not get command response in centos system"
use common user to login，then excute
Command cmd = session.exec("ss -lnp|grep LISTEN|grep 80")
 exit status =1 in centos system 。
but exit status =0 in centos system。
if i use root user to excute the Command  in centos system  ，that the exit status =0

[2018-05-24 08:00] #418 closed

[2018-05-24 11:04] hierynomus commented on #420
Could you please form English sentences and a clear question? I do not understand what you're trying to ask. Also please provide detailed logging, sample code and anything else that helps troubleshooting.

[2018-05-28 06:57] zhongyang0316 opened #421 "How to send CTRL+C to SSHServer"
hello
     now i want to send CTRL+C to SSHServer with SSHJ, i try signal(Signal.KILL) and OutputStream().write(3),but all it do not work,can you have solution?

[2018-05-29 23:55] kyle-cackett commented on #317
Hey, I am hitting this issue in my application as well. I am considering putting together a pull-request for SSHJ which would close the threads gracefully when the client is disconnected. Could you provide any suggestions as to what a fix for this might look like or where in the code I might start investigating?

Thanks!

[2018-05-30 20:34] DarrMirr commented on #317
Hello!

Class `SocketStreamCopyMonitor`  is created as anonymous one. Personally I believe the easiest way is [Shutdown Hooks API.](https://docs.oracle.com/javase/8/docs/technotes/guides/lang/hook-design.html)  Also you can change condition of infinite loop. I think daemon threads are closed if that condition evaluate false after program is closed. But I have no idea how to fix this condition.

[2018-06-04 17:34] tomaskir opened #422 "Can not authenticate to server"
Greetings,

Getting login failure against an Araknis switch.
I can login to this device without an issue with Putty with the same credentials.

This same code works fine with other devices (Cisco, HP, etc.).

Code used:
[code]

Log:
[code]

Any idea what could be wrong or how to further debug this?

Thanks!

[2018-06-05 08:52] tomaskir opened #423 "session.close() times out"
Greetings,

I am getting exceptions trying to close a session:
[code]

The code is simple:
[code]

Any idea what could be wrong or how to further debug this?

Thanks!

[2018-06-06 20:40] MazenAtaya commented on #351
Getting the same error:
`[info] n.s.s.t.TransportImpl - Client identity string: SSH-2.0-SSHJ_0.23.0
[info] n.s.s.t.TransportImpl - Server identity string: SSH-2.0-OpenSSH_6.6.1p1 Ubuntu-2ubuntu2.10
[debug] n.s.c.Promise - Setting <<kex done>> to `null`
[debug] n.s.s.t.KeyExchanger - Sending SSH_MSG_KEXINIT
[debug] n.s.c.Promise - Setting <<kexinit sent>> to `SOME`
[debug] n.s.c.Promise - Awaiting

[2018-06-08 01:39] IonoclastBrigham commented on #421
Actually, I believe you want `Signal.INT`, but I never got that working, either. What finally did end up looking like it works is:

[code]

But it's _super_ sketchy/unreliable unless I fire that from the same worker thread as I'm reading from `inputStream` on.

[2018-06-08 07:37] texane opened #424 "README.adoc mentions version 0.25.0 but examples only works by setting 0.19.0 in pom.xml"
As title says ...

[2018-06-08 10:27] DrVanScott opened #425 "SCPUpload/SCPDownload: Space in remote file names behaves differently"
Hi,

While it is possible to upload (SCPUploadClient) a file to a remote location containing spaces in its remote filename, this is not possible for download (SCPDownloadClient)

* SCPUploadClient   uses ScpCommandLine.EscapeMode.SingleQuote
* SCPDownloadClient uses ScpCommandLine.EscapeMode.NoEscape

Shouldn't both implementations use the same default EscapeMode?

My current workaround is

[code]

[2018-06-09 00:58] IonoclastBrigham commented on #424
Duplicate of #416?

[2018-06-11 07:43] texane opened #426 "Review closing logic in LocalPortForwarder"
in LocalPortForwarder::close(), the 2 following lines should be inverted:
serverSocket.close();
runningThread.interrupt();

because LocalPortForwarder::listen() checks thread interruption AFTER disconnection has been done.

It currently results in the running thread possibly redoing an accept() in multi threaded context depending on scheduling order.

[2018-06-11 13:58] davidleeuk opened #427 "SSH authentication fails when using Ed25519 + passphrase"
To replicate:
1. Generate a key using `ssh-keygen -t ed25519`
2. When prompted, specify a passphrase
3. Call ssh.authPublickey(username, privateKeyFilePath, passphrase)

Throws "exhausted available authentication methods":

I've checked the same works with Ed25519 keys with no passphrase applied; the combination of Ed25519+passphrase appears to be unsupported. Any advice please?

[2018-06-14 15:05] lpb78 opened #428 "et.schmizz.sshj.userauth.UserAuthException: Exhausted available authentication methods"
Hi,
Let me explain my problem !
I am trying to authenticate using rsa keys & passphrase

I'm using sshj 0.23.0 & bc 1.59

Let me know if I do something wrong !!

Thanks !

**Code used:**

`privateKey = readFile("../clef/id_rsa");`
`publicKey = readFile("../clef/id_rsa.pub");`
`passphrase = readFile("../clef/passphrase");`
`System.out.println("JVE privateKey = " + privateKey);`
`System.out.println(

[2018-06-18 11:13] hierynomus commented on #427
Hi @davidleeuk, Can you try to see whether PR #429 works for you?

[2018-06-18 12:47] hierynomus commented on #428
It seems that bouncycastle claims your private key is malformed (pad block corrupted). I'd have to look into that.

[2018-06-19 09:53] #427 closed

[2018-06-19 09:54] hierynomus commented on #424
@texane Why do the examples not work with a higher version? I cannot find a reason?

[2018-06-19 11:07] hierynomus commented on #422
As there is an `USERAUTH_FAILURE`, I would recommend revisiting the credentials. They might've been mistyped.

Else please provide trace logging.

[2018-06-19 11:12] tomaskir commented on #422
Sadly I no longer have access to the switch this issue was present on.

Credentials were correct, I checked multiple times.

[2018-06-19 11:39] hierynomus commented on #412
@tmssngr The BufferException is not a RuntimeException but a checked exception. However it is logged/handled internally and the library falls back to different behaviour in this case. I will make the logger not log on error level as that indeed is too severe in this case.

[2018-06-19 17:46] IonoclastBrigham commented on #424
@hierynomus as pointed out in #416, build 0.25.0 was never actually published to maven repo. You can build with version 0.24.0 and older, because those artifacts exist.

[2018-06-22 06:34] ajit-pawar-sp opened #431 "sshj 0.23.0: Intermittent exception while connect net.schmizz.sshj.transport.TransportException: Server closed connection during identification exchange"
Hi,

I am using sshj 0.23.0 version with its required dependencies. I am getting following exception intermittently while connect:
sudo code for connect using sshj:-
                 // Using PromiscuousVerifier to avoid fingerprint verification
                // refer https://github.com/hierynomus/sshj/issues/358 for the details
                sshjClient.addHostKeyVerifier(new PromiscuousVerifi

[2018-06-25 10:37] mihxil opened #432 "sftp.get may fail on rekey of server"
[code]

If the fileName is a hugeFile (over 2G), and the server submits a 'rekey' operation, this gets fails with the following logging:

[code]

With older scp (command line clients) this goes wrong in a similar manner, but newer ones work ok. After some investigation we concluded that this rekeying could be the cause (I had never heard of it).

[2018-06-25 11:33] Simsal commented on #419
@hierynomus
Hey,
I managed to generate some more Information in the log files:
Somehow your library is "calling" some jars from the product of MicroStrategy? For every change of Server i try within my program, the log entry looks the same. JCE files are aplied on both the recent and the foreign Server.

[code]

[2018-06-25 12:58] hierynomus commented on #419
Are you using an uber jar? We're not calling anything. What you're seeing is the Java Securitymanager kicking in. The empty `[]` mean that locally no algorithms could be loaded because bouncycastle is not present or cannot be loaded due to JCE restrictions.

[2018-06-27 15:17] gboie commented on #351
I get the same error, but I am able to connect the first time just fine, the second time I am trying to connect, this is when I get the error. Same function, works the first time, fails the second time.

[2018-06-29 10:37] alanroche opened #433 "Cannot get next power of 2 - exception"
Getting the following on v 0.21.1

java.lang.IllegalArgumentException: Cannot get next power of 2; 1073745513 is too large
at net.schmizz.sshj.common.Buffer.getNextPowerOf2 (Buffer.java:69)
at net.schmizz.sshj.common.Buffer.ensureCapacity (Buffer.java:142)
at net.schmizz.sshj.common.Buffer.putRawBytes (Buffer.java:270)
at net.schmizz.sshj.connection.channel.ChannelInputStream.receive (ChannelInput

[2018-06-29 10:54] hierynomus commented on #433
Do you have a reproduction scenario? What are you doing when this happens?

[2018-06-30 20:44] jstevej commented on #402
I think I just ran into the same issue:

  *tificationStringParser Server identification has bad line ending, was expecting a '\r\n' however got: ']'
  (hex: 5d)
  *tificationStringParser Will treat the identification of this server 'SSH-2.0-X PKIX[10.1]' leniently
  TransportImpl Server identity string: SSH-2.0-X PKIX[10.1]
  TransportImpl Dying because - parameter object not a ECParameterSpec

[2018-07-01 01:20] jstevej commented on #402
I tracked it down to java/net/schmizz/sshj/transport/kex/ECDHNistP.java, line 82. The ECNamedCurveGenParameterSpec it's creating comes from org.bouncycastle.jce.spec.ECNamedCurveGenParameterSpec, which is coming from the broken bouncycastle that ships with Android.

I just replaced org.bouncycastle in all the imports with org.spongycastle, rebuilt sshj, and now it works.

I'm not sure what that me

[2018-07-03 17:45] ridvan70 opened #434 "Version 0.25.0 is not in maven central repo"
`<dependency>
  <groupId>com.hierynomus</groupId>
  <artifactId>sshj</artifactId>
  <version>0.25.0</version>
</dependency>`

does not work

[2018-07-04 12:36] #351 closed

[2018-07-06 07:33] sibiarunachalam opened #435 "net.schmizz.sshj.sftp.SFTPException: No such file"
sshj version: 0.21.0
Code:
SSHClient sshClient = new SSHClient();
sshClient.addHostKeyVerifier("hostKeyVerifier");
sshClient.authPassword("username", "password");
sshClient.newSFTPClient().get("dir", "C:\temp");

Exception:
net.schmizz.sshj.sftp.SFTPException: No such file
	at net.schmizz.sshj.sftp.Response.error(Response.java:137)
	at net.schmizz.sshj.sftp.Response.ensurePacketTypeIs(Response.jav

[2018-07-10 00:31] sibiarunachalam commented on #435
It looks purely SSH Server configuration problem.
It worked in Windows after set Mount Points in SSH Server

[2018-07-10 00:34] sibiarunachalam commented on #435
But, I didn't get any clue for Linux.
It throws same exception when try to get files in "fooDir" in foouser's HOME dir

[2018-07-10 00:37] AaliMohammed opened #436 "Make SSHJ depend on newer BouncyCastle provider 1.60"
- Per [SB18-162](https://www.us-cert.gov/ncas/bulletins/SB18-162),
Bouncy Castle BC 1.54 - 1.59, BC-FJA 1.0.0, BC-FJA 1.0.1 and earlier have a flaw in the Low-level interface to RSA key pair generator, specifically RSA Key Pairs generated in low-level API with added certainty may have less M-R tests than expected. This appears to be fixed in versions BC 1.60 beta 4 and later, BC-FJA 1.0.2 and late

[2018-07-10 14:29] #426 closed

[2018-07-10 14:33] #436 closed

[2018-07-10 14:34] hierynomus commented on #423
Can you take a look at the `DisconnectionTest` class? I've tried to reproduce your code, but I'm not getting the timeout in there.

[2018-07-10 14:37] hierynomus commented on #435
I'm not sure I'm following you. Can you write a clear problem description?

[2018-07-11 08:39] Simsal commented on #419
So, somehow the other applications on the tomcat blocked the settlement.

I deployed my application on another server and now it works like a charm.
Thank you!

[2018-07-11 08:39] #419 closed

[2018-07-18 21:52] jsmalkowski opened #437 "PKCS#8 support"
I'm debugging an application that uses sshj for connecting to other machines when given an ssh key pair. I uploaded a PKCS#8 encoded private key to this application, with which I verified I could manually authenticate to the other machines it manages through ssh (`ssh -i ~/.ssh/mykey.pem node`). However, the sshj library failed to authenticate with this key with the following stacktrace:

[code]

[2018-07-20 12:23] aasmirnova7 opened #438 "WARN "Illegal key size" and "Disabling high-strength ciphers: cipher strengths apparently limited by JCE policy""
Hello.
How can I exclude WARN from net.schmizz.sshj.DefaultConfig and net.sf.commons.ssh.impl.sshj.SSHJShellSession like "Disabling high-strength ciphers: cipher strengths apparently limited by JCE policy", "Illegal key size"?
P.S. I can't use Java Cryptography Extension (JCE) Unlimited Strength Jurisdiction Policy Files
and solution from https://stackoverflow.com/questions/43346755/how-can-i-modi

[2018-07-20 13:41] #431 closed

[2018-07-20 13:49] hierynomus commented on #438
Well there are 4 options:

1. Use OpenJDK (contrary to Oracle JDK that has high strength encryption enabled by default)
2. Change the `net.schmizz.sshj.DefaultConfig` logger to log only `ERROR`, using a `logback.xml` file on the classpath
3. Install the high-strength crypto extensions.
4. Instantiate an empty `Config` and only add the weak ciphers/macs/etc.

[2018-07-20 17:14] AaliMohammed commented on #434
@hierynomus Do we have any timeline when it's gonna update in Maven Central?

[2018-07-23 21:20] saimsiddiqui commented on #317
I am running into the same issue while trying to disconnect the SSHClient. Has there been an update on this? Is there any workaround?

Trace of the issue:

`
[ERROR] 2018-07-23 17:06:35.389 [soc2chan] StreamCopier - In pipe from java.net.SocketInputStream@53b38d2c to < ChannelOutputStream for Channel #0 >
net.schmizz.sshj.transport.TransportException: Socket closed
	at net.schmizz.sshj.transport.T

[2018-07-24 09:28] #438 closed, assigned to nobody

[2018-07-24 12:55] hierynomus commented on #434
I've just released 0.26.0 to maven central. Should be arriving somewhere in the next 2 hours

[2018-07-24 12:55] #434 closed

[2018-07-24 12:56] hierynomus commented on #416
I've just released 0.26.0 to Maven central. Should be arriving within the next 2 hours.

[2018-07-24 12:56] #416 closed

[2018-07-24 12:56] hierynomus commented on #424
I've just released 0.26.0 to Maven central. Should be arriving within the next 2 hours.

[2018-07-24 12:56] #424 closed

[2018-07-27 10:11] redmoonrising opened #439 "SSHClient blocked while trying to read server identification"
Hi,
Using the latest version of sshj (0.23.0) our client was blocked while reading server identification. This was caused by a flawed (SFTP) server that was temporarily either not responding or giving incorrect responses.
The last method that our client logged was:
[code]

The expected following log message
[code]
did not show up, the client was hanging. This was probably caused by the call of
[co

[2018-07-27 10:36] hierynomus commented on #439
Did you configure a socket timeout?

[2018-07-27 12:01] redmoonrising commented on #439
No, sorry we did not. Thanks a lot.

[2018-07-27 12:01] #439 closed

[2018-07-31 09:34] tancolo opened #440 "[PROTOCOL_ERROR] Received data for nonexistent channel 1."
Thank you for your amazing lib.
sshj version: 0.26.0 (not use source code)
Client: Android

I am facing a strange problem: In the process of using sshj, the SSH tunnel is successfully established, but in the process of passing data, an error occurs:
[code]
This will cause the SSH connection to be broken.

So, my question is:
-  "[PROTOCOL_ERROR] Received data for nonexistent channel 1"  What is th

[2018-07-31 10:13] hierynomus commented on #440
Hi @tancolo,
Can you get me a full trace level log from initial connect up to the exception?

[2018-08-01 02:05] tancolo commented on #440
hello @hierynomus ,
From the debug log of my project,  I could not see the logs about sshj,  just see that error as above.
If you want the full level log about your sshj lib,   how to open the log switcher on your sshj lib?

BTW,  did you use the SLF4J in your sshj?  From my debug log, it shows some System.error, like this:
[code]

Thank you.

[2018-08-01 06:53] hierynomus commented on #440
Yes, sshj uses slf4j as a logging api. Try to add logback as a logging impl to the classpath. Dont forget to add an logback xml file to enable trace logging.

[2018-08-01 10:45] tancolo commented on #440
hello @hierynomus,
I got the logs,  the log file is a bit large size. so I send it to you email. (jeroen@hierynomus.com)
The title is [PROTOCOL_ERROR] Received data for nonexistent channel 1. #440
any question, let me know!

[2018-08-01 10:51] hierynomus commented on #440
Got it!

[2018-08-01 13:30] Kamil-Cumulocity opened #441 "Use SSHJ as SSH proxy for xterm.js"
Hi! Is it possible to use SSHJ as SSH proxy? I mean to return stream unchanged with prompt like _[remoteaccess@ip-10-21-135-119 ~]$_ and colors info like in WebSSH2 ?

[2018-08-01 16:09] hierynomus commented on #441
What have you tried? Have you taken a look at for instance `Session.startShell()`?

[2018-08-01 17:19] jsmalkowski commented on #437
@Kamil-Cumulocity I could workaround the bug by converting my PKCS#8 private key into a PKCS#1 private key, if that helps you.

[code]

That should yield a PKCS#1 key with the necessary `-----BEGIN RSA PRIVATE KEY-----` header.

[2018-08-02 02:55] tancolo commented on #440
From sshj trace log, I found the channel number changed every time. And it will occur String close exception. And then sshj shutdown.
[code]
So, the DISCONNECT was occur by sshj Client, or from the Server?

[code]

[2018-08-02 08:18] alekseifedorov opened #442 "Endless 'while' loop when making a non existing directory."
The following snippet results in hanging my application:
SFTPClient sftp = sshClient.newSFTPClient();
sftp.mkdirs("/non_existent_dir/another_dir");

Everything works if the path starts with an existing directory.

The cause seems to be in SFTPClient.statExistence(current.getPath())
which returns always 'null' for the case mentioned above.

[2018-08-02 08:27] hierynomus commented on #442
Can you check whether the fix from https://github.com/hierynomus/sshj/pull/415 makes a difference?

[2018-08-02 10:36] alekseifedorov commented on #442
Thanks, the fix works!  It would be very nice to merge it in the master.

[2018-08-02 10:39] alekseifedorov commented on #442
Could you recommend a workaround at the moment?

[2018-08-03 09:27] hierynomus commented on #442
The best workaround would be to build sshj manually with the fix and use that for the time being. It's currently merged so the next release it will be fixed. But before releasing that I want to fix a few other issues.

[2018-08-06 11:10] renejahn commented on #173
Running into the same problem, while everything seems to work (v0.24.0). Are there any plans to fix this issue?

[2018-08-07 07:10] ragebiswas opened #443 "SFTP: public key AND password auth?"
Hi @hierynomus! It looks like there are some SFTP servers that require publickey and password based authentication. Glancing at the `auth*` methods in `SSHClient`, it's not immediately obvious to me if this is supported at all.

The corresponding manual/command-line way to do this is:

`$> sftp -vvv -oPort=123 -oIdentityFile=/path/to/key -oUser=username`

The above cmd says that key authentication

[2018-08-07 14:49] pseudometric commented on #443
More precisely: the SSH userauth protocol allows a server to require multiple authentication methods to succeed before granting access. The “partial success” flag in the userauth response indicates whether an attempt failed, or succeeded but further methods are also required to succeed (so the client can know whether to keep trying multiple keys for publickey authentication, for example, or move o

[2018-08-08 02:47] IamFive opened #444 "what's the license of this project"
I want to use sshj in our project, but i found no license is specified.

[2018-08-08 02:59] IamFive commented on #444
This project is unlicensed now, No one was concerned with this?

[2018-08-08 03:01] AaliMohammed commented on #444
It is Apache 2.0, https://mvnrepository.com/artifact/com.hierynomus/sshj/0.26.0.

[2018-08-08 03:03] IamFive commented on #444
Thanks, my mistake, i find you do include license in the project.
I don't know why github did not show license on the header banner like other projects (maybe due to the licence filename?)

[2018-08-08 03:03] #444 closed

[2018-08-08 05:17] tancolo opened #445 "Building SSHJ Error on Ubuntu 18"
Hello Jeroen,
I want to use your sshj source code into my Android app. So I followed your steps **Building SSHJ**:
[code]
yes, I cloned SSHJ reporitory by https. And I also changed my java env from jdk1.8 to jdk 1.6.

**SSHJ version: master latest code**
**OS ENV: Ubuntu 18**

java jdk env to $PATH,  add some info to .bashrc
[code]
do cmd: **java -version**
[code]
execute **./gradlew clean build**

[2018-08-09 07:39] IamFive opened #446 "Does Session.exec support running command with interaction"
As title, like saying, i got a pyton script like:

[code]

i want to run it when sshj exec, and detect command output, when "input your choice: " detected, then send "choice" through input stream

[2018-08-10 07:45] zhangxianweihebei opened #447 "请问 sshj 支持安卓吗？"

[2018-08-10 07:48] hierynomus commented on #447
Sorry, please ask your question in english...

[2018-08-10 08:29] zhangxianweihebei commented on #447
Does sshj support Android?

@hierynomus

[2018-08-13 03:01] tancolo commented on #445
It's ok for java 8.  I think the **Building SSHJ** should be changed.
[code]
if you run the command ./gradlew clean build first time, it will spent more then 30 minutes, because there are 180 test cased should be executed.
I recommend  run this command firstly, and then you change some code, you just only execute this command: **./gradlew clean build -x test**, this command will ignore test cases.

[2018-08-13 03:01] #445 closed

[2018-08-13 03:13] tancolo commented on #447
Of cause, sshj also works for Android.
Please see the sshj README.md **Depending on SSHJ**

And if you want to know how to use the sshj lib for you Android project, I think you need read the sample folder in these library. Also need check the document
http://www.javadoc.io/doc/com.hierynomus/sshj/0.26.0

Here is a refer document: **OReilly - SSH,,The Secure Shell - The Definitive Guide.pdf**
You c

[2018-08-13 06:31] hierynomus commented on #445
@tancolo I'll update the instructions to make it Java8. There is no need to build the library yourself, as it is included in Maven central. Only if you wish to make a PR would you need to be able to build the code.
Furthermore the tests should not take more than a minute to run (49s on my laptop).

[2018-08-13 06:32] hierynomus commented on #447
Yes, there are multiple android apps that include SSHJ.

[2018-08-13 06:32] #447 closed

[2018-08-13 06:32] hierynomus commented on #442
Closing this issue as it is solved with latest master.

[2018-08-13 06:32] #442 closed

[2018-08-13 07:14] Kamil-Cumulocity commented on #441
Yes, we use it, our solution is quite complex, so I do not want to paste whole code here.
[code]

The actual issue is that we receive only clear text, without _helping_  characters, like info about colors. Sample (expected) output from node transmit:
`[01;34mcentos[0m     [01;34mdprimm[0m     [01;34mjakub[0m   [01;34mlpia[0m        [01;34mpawryn[0m     [01;34msoufiene[0m      [01;34my

[2018-08-13 07:37] hierynomus commented on #441
sshj does not do anything with the streams as you can see from the code. Most applications actually detect whether or not a (colors enabled) tty is attached. You might want to play with that by exporting some env variables before starting the program.

[2018-08-13 10:01] zhangxianweihebei commented on #447
Well, thank you

[2018-08-13 11:18] Kamil-Cumulocity commented on #441
Do you mean `session.setEnvVar("SSH_PTY", "/dev/pts/9")` ? I can see `allocatePTY` method but can't find any example usage of it.

[2018-08-13 11:58] hierynomus commented on #441
Have you tried simulating your problem using a regular SSH command?

[2018-08-13 12:41] Kamil-Cumulocity commented on #441
With something like `ssh remoteaccess@dev-a 'ls -al'` ? Or there is better approach?

[2018-08-14 08:02] hierynomus commented on #443
You should be able to implement this using the following:

[code]

Let me know if that works.

[2018-08-14 08:56] hierynomus commented on #441
Yes, I would think so.

[2018-08-14 08:57] hierynomus commented on #446
This is possible. What have you tried already? Have you taken a look at the examples directory?

[2018-08-14 11:43] IamFive commented on #446
yes, but cmd output wont return until shell script ends.

[2018-08-16 09:51] TukanF1 opened #448 "com.hierynomus.sshj.transport.DisconnectionTest > shouldNotThrowTimeoutOnDisconnect FAILED"
[code]

[2018-08-16 12:43] tancolo commented on #440
@hierynomus
"using the integration test docker container? "  I don't understand your mean.
You want me to create a test case for this issue? hmm,  this may be a bit difficult. I used the sshj library in our project. Our business logic is more complicated. I don't know how to use the test case to reproduce the problem.

[2018-08-16 13:10] hierynomus commented on #440
Yes, I'm asking you to create a simple reproduction case. The issue is not very straightforward to troubleshoot. That means I need more information into what steps you're actually doing. The easiest way is to create the smallest case that reproduces the issue using the integration test framework that is already present in SSHJ.

[2018-08-16 18:32] Sciss opened #449 "sftp upload - target file name is surrounded by single ticks ' '"
This is with sshj v0.26.0:

[code]

This results in a file `'bar.aif'` instead of `bar.aif` on the remote. Only if I use

[code]

The remote file becomes `foo.aif` and not `'foo.aif'`.

[2018-08-16 18:38] Sciss commented on #449
Sees that using `ScpCommandLine.EscapeMode.SingleQuote` is wrong here.

[2018-08-17 07:48] hierynomus commented on #449
When I introduced the `EscapeMode`, it was to make this behaviour configurable. Some OS's and/or ssh clients behave differently. Before it was hardcoded to do `'` escaping and surrounding. See commit d520585.

Which target OS/client are you using?

[2018-08-17 08:14] Sciss commented on #449
The server runs "SunOS vilis 5.11 11.3 i86pc i386 i86pc Solaris" (that's the web space from my provider).

I guess a workaround would be instead of

[code]
to write

[code]

[2018-08-17 11:30] hierynomus commented on #449
Indeed. For regular cases the `'` escape works perfect. But I can imagine that 'SunOS' does not run a standard OpenSSH or interprets paths differently, which is the actual problem with SCP.

[2018-08-17 12:51] hierynomus commented on #449
I assume we can close this ticket?

[2018-08-17 12:52] hierynomus commented on #448
@TukanF1 I don't see this test failing (ever) on our CI environment... Is this reproducible for you?

[2018-08-17 12:56] Sciss commented on #449
Sure

[2018-08-17 12:56] #449 closed

[2018-08-17 18:13] TukanF1 commented on #448
Every time when I want build SSHJ as separate project in IntelliJ on Windows with Java 8 this test is failed.

[2018-08-20 06:42] hierynomus commented on #448
Can you provide the full trace log and stacktrace of that test?

[2018-08-20 09:03] hierynomus commented on #432
Could you post a more detailed log file to help troubleshoot this. At least debug, but preferably trace level.

[2018-08-21 12:11] tancolo commented on #440
Hello @hierynomus,
About your suggestion (using the integration test docker container).
Sorry, I don't know how to use the tools you said. But I can use another way to reproduce.
For detail, please check the email I sent.

Any question, please let me know.
Thank you!

[2018-08-22 03:26] tancolo commented on #434
@ridvan70  https://search.maven.org/search?q=g:com.hierynomus%20AND%20a:sshj&core=gav

[2018-08-22 06:37] TukanF1 commented on #448
[build.log](https://github.com/hierynomus/sshj/files/2309119/build.log)
[code]

--------------------------------

[build-debug.log](https://github.com/hierynomus/sshj/files/2309121/build-debug.log)
[code]

[2018-08-22 06:45] TukanF1 commented on #448
I want only build *.jar file, cause I need library to SFTP connecting.

[2018-08-22 07:03] tancolo commented on #448
@TukanF1  well, you only build *.jar file?  Why not use the lib on maven? As @hierynomus said on #445

gradle or pom, any one can be used, right?

Why I want to build sshj lib,  bacause I want to know the workflow, maybe do some modify.

[2018-08-24 08:34] sischnei commented on #289
We have a similar issue also connecting to a CISCO Switch. Authentication always fails, at first we thought that it might be caused by the CISCO Switch only supporting keyboard-interactive auth, so we now try only keyobard-interactive, however it still disconnects.

Maybe this trace can help somebody:

	[main] INFO net.schmizz.sshj.transport.random.BouncyCastleRandom - Generating random seed from

[2018-08-24 12:11] hierynomus commented on #289
Have you taken a look at the server side logging? The switch terminates the connection right after the authentication. There should be a reason for that.

[2018-08-28 06:59] tancolo commented on #440
hello @hierynomus,
Do you have anything to update?

[2018-08-28 07:45] hierynomus commented on #440
I do not... Can you get me a minimal reproducible scenario in code? Without the need for Android phones etc.

[2018-08-28 10:47] tancolo commented on #440
Hi @hierynomus,
I think I can't provide the code you need for the time being. sshj is integrated in our code. The business logic of this issue is complicated. You need to log in to our account, open our app special service, and then it is possible to start SSH tunnel to reproduce the problem.
hmm... If you want to reproduce this issue easily without an Android phone, I don't know how to deal with

[2018-08-29 15:16] rhuffman opened #451 "NullPointerException thrown from AbstractDHG"
I attempted to create an SSHClient to connect to Vagrant VM. I can use openSSH to connect via this command and entering the password:

[code]
However, using the same credentials to create an SSHClient, the connection fails with a NullPointerException on [line 83 of class AbstractDHG](https://github.com/hierynomus/sshj/blob/master/src/main/java/net/schmizz/sshj/transport/kex/AbstractDHG.java#L83).

[2018-08-30 06:51] Kamil-Cumulocity commented on #441
Many thanks, I'll give it a try.

[2018-09-06 08:37] hierynomus commented on #451
What does your hostkey look like? That is not a regular format I've encountered before?

[2018-09-13 14:29] billstephens opened #452 "Timeout then executing ls() method"
We're using com.hierynomus:sshj:0.24.0 for our SFTP Connector. For almost all of our customers, it's working great.  For one, when they attempt to list the contents of a directory they are consistently receiving a "Timeout expired" on ls() command execution.

When tested directly from sftp in command line, listing contents is same directory requires slightly more than 60 seconds.

We are using the

[2018-09-20 11:35] tancolo commented on #440
Hi @hierynomus,
I build a simple demo, it can reproduce the "xxx noexist channel 1" ERROR.
I send you an email that contains the details of this demo.
So you can read and try to reproduced on your local PC. It works on my Linux Env.

In sshj demo, I use
[code]
you maybe execute
[code]
and accepte yes,  then logout ssh connection, and then use sshj demo to test.
Any question, please let me know.

[2018-09-21 12:51] dhubbard-ic opened #453 "Password expired on host not triggering PasswordUpdateProvider"
Hi

I'm trying to add handling for password expiry to my app using following approach...

MyPasswordFinder passwordFinder = new MyPasswordFinder(password);
MyPasswordUpdateProvider newPasswordUpdateProvider = new MyPasswordUpdateProvider();
AuthPassword ap = new AuthPassword(passwordFinder, newPasswordUpdateProvider);

The user has password expired (as can be seen from linux ssh)

user2@host01's p

[2018-09-21 13:01] dhubbard-ic commented on #453
An SSCCE can be found at [bitbucket repo](https://bitbucket.org/dhubbard_ic/sscce-sshj-passwordchange.git)

[2018-09-21 13:13] hierynomus commented on #453
It seems that your server is not returning `USERAUTH_PASSWD_CHANGREQ` (PacketType 60) on the login attempt. This is the only way to correctly trigger password updates for automated connections.
You're dropped into a shell with `passwd` as the command, which allows you to interactively change your password.

[2018-09-21 13:45] dhubbard-ic commented on #453
Any idea how I might enable with OpenSSH ?   I'm slightly unclear why another openssh host connecting in does see the expiry?

[2018-09-21 13:49] hierynomus commented on #453
There is a difference... sshj handles a password change on the protocol level, as described in https://tools.ietf.org/html/rfc4252 section 8.

However your ssh server is not doing that, rather it is letting you login using the old password, and then drops you into a shell with `passwd` as the executing command (instead of /bin/bash). This is different from a protocol level password expiry.

[2018-09-21 14:56] dhubbard-ic commented on #453
For reference (although potentially not definitive) I found [this](https://blog.tankywoo.com/linux/2013/09/14/ssh-passwordauthentication-vs-challengeresponseauthentication.html)  which indicates

But setting this still doesn't use the PasswordUpdateProvider :

[code]

[2018-09-25 10:56] tancolo commented on #440
Hello @hierynomus,
I create a simple sshj demo on our Docker container,  please check you email, follow some steps, you can login and reproduce that error.

Looking forward to your reply.
Thank you!

[2018-09-27 07:00] tancolo commented on #440
@hierynomus
Waiting for your reply
I recommend you try running the simple demo on our Docker to check the results.

Thank you.

[2018-09-28 13:34] dhubbard-ic commented on #453
I'm still looking into this.  I have confirmed your point @hierynomus that no USERAUTH_PASSWD_CHANGREQ (PacketType 60) is sent from OpenSSH server.

After a bit of OpenSSH debugging I have posted a question on [OpenSSH mailing list](https://lists.mindrot.org/pipermail/openssh-unix-dev/2018-September/037224.html).

Can I ask what SSHD implementation SSHJ password expiry handling is tested against f

[2018-09-28 13:42] hierynomus commented on #453
Our current tests are against Apache Mina SSHD, which adheres to the RFC in this regard.

[2018-09-28 14:09] dhubbard-ic commented on #453
Thanks I will try that out - and will post back if/when I get a resolution on the OpenSSH side

[2018-09-30 19:18] dhubbard-ic commented on #453
I have had a response to my question on [OpenSSH mailing list](https://lists.mindrot.org/pipermail/openssh-unix-dev/2018-September/037227.html)

Basically the password change handling (RFC4252) is not implemented in OpenSSH with PAM due to (depending on your view) either restrictions of PAM or limited support for server-side control of password rules specified in the RFC.   As running without PAM

[2018-10-08 14:57] JamesHopkinson opened #455 "SFTPException: EOF while reading packet when attempting to overwrite large SFTP Files"
Hi,

When overwriting large files (around 10MB+) - I have been encountering an issue using RemoteFile.write() to overwrite a file in 8192 chunks, it throws an "SFTPException: EOF while reading packet".
It typically lasts for a large iteration of writes to the file (i.e. in my most recent test it failed on Request{27;WRITE}), is there a known issue causing an interaction like this or some setting t

[2018-10-10 16:38] ben-manes opened #456 "SFTPException: 0xC000007F"
I don't know if this is a client or server issue, as the client has worked great overall. I'm currently using `0.26.0` and this is a new sftp integration. Any thoughts before I contact the customer?

[code]

[2018-10-10 17:42] ben-manes commented on #456
This appears to be a server issue. Not sure if you can get a better error message. The command line client showed,
[code]

[2018-10-10 17:42] #456 closed

[2018-10-10 20:37] garylewis8 commented on #437
I'm encountering the same issue. The openssl conversion above didn't work for me.

[2018-10-13 14:42] sandkumaCode opened #457 "Particular Switch based on mina has a request issue"
@Test
    public void testSshjPtyNoShell() throws Exception{
        String hostname = "XXX";
        String username = "XX";
        String password = "XXX";
        int port = 20002;
        String pcmd = "XXXX";

        final SSHClient ssh = new SSHClient();
        ssh.addHostKeyVerifier(new PromiscuousVerifier());
        ssh.setConnectTimeout(90000);

        try {
            ssh.getConnec

[2018-10-22 09:18] tancolo commented on #440
hello @hierynomus
I created a Docker Container for this issue, please check you google email (jeroen@hierynomus.com).
Title: A Docker Container for issue #440

It's easy to reproduce it.
Any question, please let me know.

Thank you so much.

[2018-10-22 13:13] Kamil-Cumulocity commented on #441
Allocating "xterm-256color" Pty make it works.

[2018-10-22 13:13] #441 closed

[2018-10-22 14:00] Kamil-Cumulocity opened #459 "Invalid packet length"
Hi!

Could you help me with debbuging this issue? When it fails there is always same packet length: `1349676916` and value `6f 63 6f 6c`. Could it be that sshj does not understand some message?

SSHJ client **0.26**
Server: **SSH-2.0-OpenSSH_7.6p1 Ubuntu-4**

[code]

[2018-10-23 07:41] hierynomus commented on #459
Can you give a bit more logging? When does this occur? During authentication?

[2018-10-23 07:43] hierynomus commented on #457
Can you be a bit more specific as to what you're attempting, what is the expected outcome, and what doesn't work? I'm lost here....

[2018-10-23 07:45] hierynomus commented on #455
I see as first line:

[code]

What comes before that? The actual reason the channel is being closed is not present.

[2018-10-23 07:50] Kamil-Cumulocity commented on #459
It's during key exchange and it's somehow related to missing home directory: _Could not chdir to home directory /home/sshtest2: No such file or directory_

[2018-10-23 08:48] hierynomus commented on #443
@pseudometric Does it work?

[2018-10-23 09:46] sandkumaCode commented on #457
The issue here was we were not getting a terminating message from ssh once we got we have the read working hence closing it

[2018-10-23 09:46] #457 closed

[2018-10-24 12:42] JamesHopkinson commented on #455
Hi,

Thanks for the response. I will attach the full logs of the issue, from "{1;OPEN}" to the error being received (which was present in the snippets posted above).

But there was nothing obvious as to why it was being closed as we were just doing the repeated write.

Please download it here: [https://www.filehosting.org/file/details/762505/3rdParty.log](https://www.filehosting.org/file/details/7

[2018-10-25 07:33] seinecle commented on #391
The general doc of overthere is very hard to read, sshj is much more targeted (just ssh). I'd love to have a clear example of sudo command with `sshj` with `inputStream `and `outputStream `if possible?

[2018-10-26 12:20] dhubbard-ic opened #460 "Problem using PuTTYKeyFile"
Hi

I recently noticed the support for PuTTY Key File handling in SSHJ and am now using it.

However I have a further requirement to look at Putty Key file handling outside of SSHJ e.g. extract public key.

For this I have been looking at using the PuTTYKeyFile class directly, but I and hit a few problems.

So is PuTTYKeyFile intended for API usage? I appreciate this is possibly engineering to be

[2018-10-30 13:01] anujkhandelwal1990 opened #461 "ArrayIndexOutOfBoundsException while downloading the file"
Hi,

We recently faced "java.lang.ArrayIndexOutOfBoundsException" Exception while downloading the file from SFTP server. This happens intermittently. Few observations:

- Mainly it happens when the Thread which downloads the file is running from a long time (~10 minutes)
- The thread has to download ~100 files one by one.
-  Once we see this error, it keeps on happening for few minutes but it happ

[2018-10-30 13:07] anurag-08-09 commented on #461
Just to add here we also faced similar issue in last of couple of days.

[2018-10-30 13:09] anujkhandelwal1990 commented on #461
Adding complete stack trace for reference.

We are using version 0.23.0

manager.SFTPFilePatternMatcherManager.matchPatterns():258  ERROR]: Error while downloading file from server java.lang.ArrayIndexOutOfBoundsException: -5
        at net.schmizz.sshj.common.Buffer.putUInt32(Buffer.java:320)
        at net.schmizz.sshj.transport.Encoder.encode(Encoder.java:83)
        at net.schmizz.sshj.transpo

[2018-10-31 10:41] tancolo opened #462 "How to use the default JCE provider in sshj library"
Hello,

I have a serious problem, the sshj library can no longer be used on Android P.
Using sshj  before Android P is OK.

# Precondition
1. sshj-0.26.0
2. SSH-2.0-OpenSSH_7.6p1
3. Android P

# Key Exception Logs
[code]

From the logs, we know that this is due to the modification of certain policies by Android P.
 [Cryptography Changes in Android P](https://android-developers.googleblog.com/2018/

[2018-11-04 14:46] leolux opened #463 "Which encoding to use for handling the input and output stream of the shell?"
I like to write a String to the shell using this code:

[code]

But this results in unusable output from the inputStream which returns always the first two bytes -2 and -1 followed by more bytes representing the string "myCommandString". I am missing the result of the SSH command from the inputStream.

In the code above I set the encoding for the outputStream to UTF-16, but I am not sure if that i

[2018-11-05 11:54] tancolo commented on #437
**1. From the sshj source code,  it seems support the PKCS8 key format. (**VERSION 0.26.0**)**
[code]
**2. When to apply PKCS8 format, reference:**
[code]
When my key format is `RSA`,  use these code, is OK.
[code]

**3. How to use PKCS8 and the format of Public and Priviate key**
[code]
**I followed this guaid, just use RSA format key.**

[2018-11-05 12:10] tancolo commented on #462
**The Solution:**
**1. SecurityUtils.java -> registerSecurityProvider()**
[code]
It means don't use the BC provider.

**2. PKCS8KeyFile Object**
If you use this code in you android code:
[code]
you must change this code to
[code]

[2018-11-08 08:59] antaln commented on #190
Reviving an old thread here - we also had `Unexpected: SSH_MSG_UNIMPLEMENTED` happen and managed to troubleshoot it.

Conditions:
- sshj 0.24.0 (=client) connecting to sshd (=server) on Linux, with password authentication enabled.
- using SSHClient.authPassword
- sshd exhibited long delays in PAM calls during authentication, possibly due to reverse lookup issues.

Sporadically we would get sshd se

[2018-11-08 09:44] leolux commented on #463
Has anyone tried to write a string to the outputStream of the shell?

[2018-11-08 10:35] hierynomus commented on #463
Yes, there are multiple examples out there. Probably you need to use UTF-8.

Op do 8 nov. 2018 om 10:44 schreef leolux <notifications@github.com>:

[2018-11-09 20:16] buskovic opened #464 "curve25519-sha256@libssh.org not supported on master"
After the commit c5792fe4a846fcd15fe2bae14d14f527f21ab0a0 (Added Kex integration test) curve25519-sha256@libssh.org is not supported anymore.
It seems that factory Curve25519SHA256.FactoryLibSsh is not added into kex factories list.
see: DefaultConfig.java ; initKeyExchangeFactories

[2018-11-10 13:56] FalcoSuessgott opened #465 "Android Studio - establish simple ssh connection"
Im trying to get sshj to work. Im using sshj in an android studio application.

I implemented a first testing example like this:

[code]
and calling this method with

`server.connection();`

Im using `new PromiscuousVerifier()` because someone seems to head a similar problem and suggest it ([https://stackoverflow.com/questions/3630101/could-not-load-known-hosts-exception-using-sshj](https://stacko

[2018-11-10 16:48] Vrakfall commented on #285
It's funny you've got every output going in the `InputStream`. I'm just facing a case where the whole output which has an exit status of 0 (so, no error), and the whole output goes to the error stream... And it is while calling a command as simple as `/usr/local/bin/python2.7 --version`.

[2018-11-13 05:29] ben-manes opened #466 "Timeout not honored on hung connection"
Despite setting timeouts where possible, I am seeing hung connections with a customer's sftp server. Is there a way to have this timeout?

[code]

[code]

[2018-11-13 18:26] nasatome opened #467 "[improve] aes256-cbc is not implemented in openssh-key-v1 with ed25519 key"
I use DBeaver and when using the SSHJ plugin it throws me the following error:

[code]
this issue had previously been closed:
https://github.com/hierynomus/sshj/issues/427
But I think in an incomplete way (I just think so)

https://github.com/dbeaver/dbeaver/issues/4585

[2018-11-13 18:56] ben-manes commented on #466
I think this is due to `awaitExpansion` not having a timeout to fail the operation, as it waits indefinitely. Can this be patched to fail instead of block forever?

[2018-11-13 19:01] hierynomus commented on #466
Feel free to send a pr!

Op di 13 nov. 2018 19:56 schreef Ben Manes <notifications@github.com:

[2018-11-13 19:04] ben-manes commented on #466
Do you consider `sshj.connection.channel.Window` to be a public API (as it is public) and be backwards compatible? As in, should I provide backwards compatible overload or make a breaking change?

If this can be pushed it will save me from moving to Commons VFS, so happy to send the PR :)

[2018-11-13 20:05] hierynomus commented on #466
Window is not a class you typically interact with in using sshj, so no, not an API ;)

[2018-11-15 02:37] Vampire opened #469 "Forwarding sockets"
As far as I have seen only forwarding ports is supported, no forwarding sockets.
But SSH now can do from port to socket, from socket to port, from port to port and from port to socket.
Would be nice if this were supported.

[2018-11-15 09:51] Anddd7 opened #470 "Error while using `ed25519` for host key and `rsa` for authorization"
Hello, I'm a newer here.

I use [atmoz/sftp](https://hub.docker.com/r/atmoz/sftp), which is using `ssh-ed25519` to verify the host key and `ssh-rsa` to authorize login user, to setup a sftp server in docker and try to use `sshj` to connect it.

[code]

----

I use the default config to connect, it throw an error:
[code]
[code]

And my `known_hosts` is: `[localhost]:2222 ssh-ed25519 AAAAC3NzaC1lZDI

[2018-11-15 11:39] anujkhandelwal1990 opened #471 "Timeout and connect Timeout"
Hi,

I am a new user for this library. Just want to understand the different between connectTimeout and timeout ?  Also what is the keep alive interval for open connection ?

It will be helpful if someone can help me or point me to some documentation.

Thanks,
Anuj

[2018-11-16 08:33] #466 closed

[2018-11-16 09:06] hierynomus commented on #470
You've given the SFTP server 2 keys (`ssh-rsa` and `ssh-ed25519`), but you've only trusted the `ssh-ed25519` key in your known_hosts. The server and client however negotiate the `SignatureRSA` algorithm as that is higher up in the list. I'll reorder the list to ensure that the 'most secure' is on top.
Thanks!

[2018-11-16 09:07] #470 closed

[2018-11-16 09:39] #467 closed

[2018-11-16 10:48] #464 closed

[2018-11-16 12:13] hierynomus commented on #465
If you don't see any logging on the server I would suggest you check whether it is reachable from the client, or whether you're using the right address.

`PromiscuousVerifier` purely tells the client to trust any server key, so it obviates the need to call `loadKnownHosts`, or pre-load your app with keys from trusted servers.

I would suggest turning the debug logging up and seeing whether there i

[2018-11-16 12:36] hierynomus commented on #461
It looks like the write position of the buffer overflowed. Can you give more detailed logging of the chain of events?

[2018-11-21 10:11] #462 closed

[2018-11-22 02:15] j4ns8i commented on #437
@tancolo In this context, I'm referring to parsing an existing PKCS#8 encoded key pair created through openssl as opposed to creating the key through this library. It does indeed look like the library supports the PKCS#8 encoding, but I think the implementation runs into an issue when trying to parse the key pair based on the heading.

As I said, the bouncycastle openssl library returns a differen

[2018-11-25 13:38] #465 closed

[2018-11-27 07:27] Andremoniy opened #473 "Expose the numeric code of the Response.StatusCode"
I propose a small improvement in order to improve debugging of the errors happen during the connection.
Currently the `Response.StatusCode` doesn't expose its internal numeric code, which is essentially an error code returned by an SFTP server according to the specification. So it would be nice to be able to read this code directly from the `StatusCode`:

[code]

Without doubts one can use an enum

[2018-11-27 08:11] Stocken commented on #433
This happens when you transmit alot of data in a shell.
E.g. when you run a "cat hugeFile" command.

You only need to call buf.compact() in ChannelInputStream.read when the buffer is too big.
E.g.
           if (buf.rpos() > win.getMaxPacketSize() && buf.available() == 0) {
                buf.clear();
            } else if (buf.rpos() > 10 * 1024 * 1024) {
                buf.compact();

[2018-11-27 09:22] #473 closed, assigned to nobody

[2018-11-28 22:44] voidmain opened #475 "Possible broken assert in BaseFileKeyProvider.java"
The `init` method in `BaseFileKeyProvider.java` looks like it has an invalid `assert` statement on line 62. Here's the current code:

[code]

The second line doesn't make sense since this method is called whenever we are using a `privateKey` and a `publicKey` on the `SSHClient` object. It seems like it should be this code instead:

[code]

[2018-11-29 08:43] dhubbard-ic commented on #475
One point - looks like this method is overridden by `OpenSSHKeyFile.java` it's init `method` is:

[code]

Note two things:

1. last line `super.init(privateKey, null);`  - so this calls the `BaseFileKeyProvider.init()` method directly with `null`
2. The `BaseFileKeyProvider.init()` does nothing with `publicKey`

My guess is the `BaseKeyFileProvider.init` is intended to be only called with `publicK

[2018-12-05 18:57] rbrosier opened #477 "Add support for Bouncy Castle FIPS version"
What would have to be changed to support the FIPS certified version of the Bouncy Castle crypto libraries? From the BC end I know adding the provider changes to:
   Security.addProvider(new BouncyCastleFipsProvider());
How hard would it be to update SSHJ to support either BC version?

[2018-12-06 19:26] solind opened #478 "EdDSAPublicKeySpec NPE"
Using the latest SSHJ/master, I ran into the following while connecting to an Ubuntu 18.04 box:

[code]

I'm guessing this means that EsDSAParameterSpec.getCurve().getField() is returning null. Obviously I only get this error when I've added an EdDSASignatureFactory in the configuration.

I don't get this error form my fork, which is relatively stale (from April 2017), even when I do have the EdDS

[2018-12-19 13:22] markusa380 opened #479 "Another Exhausted available authentication methods"
I am using the latest version of SSHJ on Java 8.

When attempting to authenticate to a given FTP server using a password,
authentication fails with the message
```Exhausted available authentication methods```
There are multiple related issues with the same error message, but this one is special: It happens for one of two users authenticating to the same exact FTP server in the same exact applicati

[2018-12-19 13:30] MarkusA380 commented on #479
Okay, I could fix it by changing the users password.
The old password contained special characters like `§`, the new one is alphanumeric (while being longer).

[2018-12-20 08:41] dkocher commented on #276
I would like to have this issue reopend. Reading SSH keys of type RSA in the new format does not work.

The failure is a message like `Bad item length: -1512035316` which is caused from reading the key in [OpenSSHKeyV1KeyFile](https://github.com/hierynomus/sshj/blob/master/src/main/java/com/hierynomus/sshj/userauth/keyprovider/OpenSSHKeyV1KeyFile.java#L193).

This is as of [OpenSSH 7.8](https://ww

[2018-12-20 08:47] hierynomus commented on #276
Reopened... Let's fix that :)

[2018-12-21 06:55] Laggar opened #480 "If this can generate public and private key pairs？"
If this can generate public and private key pairs

[2019-01-07 11:08] FDU-SE-LAB opened #481 "Your project hierynomus/sshj is using buggy third-party libraries [WARNING]"
Hi, there!

We are a research team working on third-party library analysis. We have found that some widely-used third-party libraries in your project have major/critical bugs, which will degrade the quality of your project. We highly recommend you to update those libraries to new versions.

We have attached the buggy third-party libraries and corresponding jira issue links below for you to have mo

[2019-01-08 04:47] realPyR3X commented on #478
I can confirm this issue. I'm looking into it now as well.

[2019-01-08 09:35] Jaywann opened #482 "Restricted Shell: Broken transport; encountered EOF"
I am trying to execute a simple "help" command on a hardware appliance with sshj. As it is common for such appliances only a restricted shell is available.  The code used was taken from net/schmizz/sshj/examples/ with no modification other than using the password auth and seetting a PromiscuousVerifier().

The version used is 0.26.0 pulled from maven.

Using the net/schmizz/sshj/examples/Exec.java

[2019-01-09 21:39] gsajwan commented on #482
I got this issue with AIX as my target host.
using sshj-0.21.1  fixed my issue

[2019-01-10 09:50] #463 closed

[2019-01-10 15:49] jzelenka opened #483 "timeout exception after Sending SSH_MSG_KEXDH_INIT"
Connecting to hungarian tax authority production server fails with timeout exception after:

`net.schmizz.sshj.transport.kex.Curve25519SHA256 - Sending SSH_MSG_KEXDH_INIT`

 (DEBUG loging enabled):

[code]

Their test system works.
linux ssh/scp command can connect to both test and prod environment.

Using version 0.26.0

[2019-01-11 09:58] jzelenka commented on #483
I have an idea that maybe curve25519-sha256@libssh.org is not properly supported on their side. Is there an option to disable it in sshj, so that it is not negotiated?

[2019-01-11 10:23] hierynomus commented on #483
Hi @jzelenka, if you ssh in with `ssh -vvv` which protocol(s) do you see negotiated. If that is indeed a different one than `curve25519-sha256@libssh.org`, than you could be right indeed.

You can easily tweak which protocols are negotiated by using the `Config` object before you instantiate the `SSHClient`. You can do `config.getKeyExchangeFactories()` and change that list.

[2019-01-12 14:23] talaieru opened #484 "NullPointerException using OpenSSH RSA public key"
When the authentication key (in `~/.ssh/id_rsa`) is in OpenSSH format, then the `OpenSSHKeyV1KeyFile` key provider is used.  Invoking `SshClient.authPublicKey` with such key results in a `NullPointerException` because the `PasswordFinder pwdf` is `null`. As far as I can see `OpenSSHKeyV1KeyFile` cannot handle correctly the case where no password is provided.

The following Java code can be used to

[2019-01-14 10:40] hierynomus commented on #484
Is your private key protected by a passphrase? SSHJ tries to decrypt the key. If it is not, I'd like to know the exact command to generate such a key.

I agree that an NPE is bad, but before deciding on the solution I'd need to know the above.

[2019-01-14 13:52] talaieru commented on #484
Hi Jeroen,
Thanks for the quick answer. I created my public keys using ssh-keygen and
providing a password:

sh-keygen -t rsa

Generating public/private rsa key pair.

Enter file in which to save the key (/Users/josu/.ssh/id_rsa):

/Users/josu/.ssh/id_rsa already exists.

Overwrite (y/n)? y

Enter passphrase (empty for no passphrase):

My goal with the ticket is to inform that the case of a passwo

[2019-01-16 07:51] dkocher commented on #484
Duplicate for #276.

[2019-01-16 19:01] dhubbard-ic opened #486 "SCP vulnerabilities"
I wondering if you can comment on any exposure or non-exposure to the SCP vulnerabilities in [this disclosure](https://sintonen.fi/advisories/scp-client-multiple-vulnerabilities.txt) summarised in [The Register](https://www.theregister.co.uk/2019/01/15/scp_vulnerability/).

Thanks

[2019-01-17 12:01] #276 closed

[2019-01-17 12:01] #484 closed

[2019-01-22 08:08] mkpaz opened #487 "ConnectionException (broken transport) when executing remote command"
I'm trying to utilize `sshj` to connect to proprietary device (specifically, Oracle AcmePacket). I able to authenticate, but when it comes to command execution I always get the following error:

[code]
There is no verbose logging support on the server side. This is all I can see in logs:

[code]
And here is my code:

[code]

In tcpdump I can see TCP packet with no payload which precedes command (?

[2019-01-22 09:54] mkpaz commented on #487
Solved by switching to Shell implementation. This [example](https://github.com/Alexey1Gavrilov/ExpectIt/blob/master/expectit-core/src/test/java/net/sf/expectit/SshJExample.java) was very helpful.

[2019-01-22 10:58] rabiori opened #488 "getting exception connecting to SFTP server - PKCS5KeyFile$FormatException: Unrecognized PKCS5 key type: OPENSSH"
The code is very basic, looks like this:
[code]
On the last line, we get an exception:
[code]

The private key file looks like this:
[code]

I saw similar exceptions in past tickets (such as [this](https://github.com/hierynomus/sshj/issues/36)) and I've checked my classpath and I have bouncycastle (1.60).

Any help would be appreciated.

[2019-01-22 12:43] rabiori commented on #488
After debugging, I've seen that having the public key in the same directory with ".pub" makes it work - can you please explain a bit?

[2019-01-22 16:15] hierynomus commented on #488
Can you try the latest master. I fixed this last week, but haven't released a new version yet.

[2019-01-23 08:43] rabiori commented on #488
Sorry, I don't have the time for that currently.
If after you publish a new version you'll want me to test I'll do so happily.

[2019-01-24 14:06] hierynomus commented on #488
This is now released in 0.27.0.

[2019-01-24 14:06] #488 closed

[2019-01-24 14:06] hierynomus commented on #487
Ok, closign this issue.

[2019-01-24 14:06] #487 closed

[2019-01-24 14:08] hierynomus commented on #479
Sounds like an encoding problem in that case. What are the platform encodings on both source and target systems?

[2019-01-24 14:13] MarkusA380 commented on #479
I am authenticating to a remote FTP server, so I don't know. The local machine is either a Windows Server or a Debian Linux.

[2019-01-24 14:38] rabiori commented on #488
indeed fixed, thank you very much!

[2019-01-30 04:04] solind commented on #478
It appears that updating to the latest and greatest ed25519 JAR file solves this issue, but it also appears to add a hard dependency on the BouncyCastle provider.  I am investigating that now...

[2019-01-30 13:33] a250152 opened #490 "Could not verify `ecdsa-sha2-nistp256` and use the pom.xml how can i do?"
`21:20:38.670 [main] INFO net.schmizz.sshj.transport.random.BouncyCastleRandom - Generating random seed from SecureRandom.
21:20:38.679 [main] DEBUG net.schmizz.sshj.transport.random.BouncyCastleRandom - Creating random seed took 7 ms
21:20:38.947 [main] WARN net.schmizz.sshj.DefaultConfig - Illegal key size
21:20:38.947 [main] WARN net.schmizz.sshj.DefaultConfig - Illegal key size
21:20:38.947 [m

[2019-01-30 13:37] a250152 commented on #490
the code
`SSHClient ssh = new SSHClient();
            ssh.loadKnownHosts();
            ssh.connect("192.168.1.142");
            ssh.authPassword("root", "root");`

[2019-01-30 13:38] hierynomus commented on #490
Quick guess, you have not enabled high strength crypto extensions for java.

[2019-01-30 13:40] a250152 commented on #490
like 'Security.addProvider(new BouncyCastleProvider());'?

[2019-01-30 13:49] hierynomus commented on #490
No, not just that. The providers can only provide the crypto strength allowed by the JVM. Also see: https://stackoverflow.com/questions/42159690/why-are-the-jce-unlimited-strength-not-included-by-default

[2019-01-30 15:57] a250152 commented on #490
i have to update jdk1.8.0-60 to jdk  jdk1.8.0_201 and open the crypto strength
`23:56:37.097 [main] INFO net.schmizz.sshj.transport.random.BouncyCastleRandom - Generating random seed from SecureRandom.
23:56:37.107 [main] DEBUG net.schmizz.sshj.transport.random.BouncyCastleRandom - Creating random seed took 7 ms
23:56:37.165 [main] DEBUG net.schmizz.sshj.DefaultConfig - Available cipher factories:

[2019-01-30 16:02] a250152 commented on #490
more then "aes256-cbc....."

[2019-01-31 01:37] a250152 commented on #490
@hierynomus
`SSHClient ssh = new SSHClient();
            ssh.addHostKeyVerifier(new PromiscuousVerifier());
            ssh.connect("192.168.1.142");
            ssh.authPassword("root", "1q2w3e4r");`
I fogot to add this line: ssh.addHostKeyVerifier(new PromiscuousVerifier()); and now it works

[2019-01-31 01:37] #490 closed

[2019-02-07 13:54] vokod commented on #488
Hello @hierynomus , just a side note: I'm experimenting with your library on android and atlhough I use 0.27.0 I get the exception rabiori mentioned, if there is no public key with ".pub" extension in the same folder as the private key file.  With pub key in place, authentication works.

[2019-02-12 13:17] desember opened #492 "SCP upload file permission"
Hi,

I'm trying to figure out how to upload a local file via scp and set desired file permission.
My simplified code is following:
[code]
Method FileSystemFile.setPermissions() accepts integer. But if I pass _777_ or _0777_ resulting file has permissions _511_. I suppose due to octal-decimal conversion. Javadoc for method clearly says to use _0644_.

Is there way to specify permissions? For exampl

[2019-02-15 07:34] BreakBB opened #493 "Question: JCE cannot authenticate the provider BC"
I try to include sshj in an existing project of my company and get the error message of the title. However if I create a fresh project everything is working just fine. So there must be something wrong with the project setup, but I can't figure out what it is. Maybe someone can have a look at the question I posted on [stackoverflow](https://stackoverflow.com/questions/54687084/jce-cannot-authentica

[2019-02-15 13:09] BreakBB commented on #493
Issue solved on the stackoverflow post. The usage of `@RunWith(PowerMockRunner.class)` lead to problems!

[2019-02-15 13:09] #493 closed

[2019-02-22 13:52] #453 closed

[2019-03-09 19:46] dhubbard-ic opened #494 "Problem trying out #337 Tunnelling Pull Request"
Hi

I am trying out #337 and have cloned liff:jumping branch, which includes [this commit](https://github.com/hierynomus/sshj/pull/337/commits/0e784dd17180701b3de13ca7c6b9e9c1d481463f)

Trying this against Centos 7.6.1810 with OpenSSH 7.4 server (openssh-7.4p1-16.el7) - with an abridged version of [Jump example](https://github.com/liff/sshj/blob/jumping/examples/src/main/java/net/schmizz/sshj/exam

[2019-03-09 23:43] dhubbard-ic commented on #494
Hold off on this - I suspect this may be because my initial connect logic - just via key is incorrect - the "preauth" in the following probably means the session isn't logged in correctly.

[code]

I will retry and update/close as appropriate

[2019-03-10 11:00] dhubbard-ic commented on #494
It was my mistake - I adapted the Jump sample and managed to remove the authPublicKey method - hence not authorised - just a bit confused by no "no authenticated" type error.

I will close this.

Here is my adaption which works

[code]

Output

[code]

[2019-03-10 11:00] #494 closed

[2019-03-12 13:24] madiaz1894 commented on #127
Thank you so much!!!

[2019-03-13 14:49] duelinmarkers commented on #435
Don't know whether this was @sibiarunachalam's issue, as the stack trace is slightly different, and I'm failing to get a regular file, but I just worked through the following thing that sounds similar:

* `sftpClient.put("./local_file.txt", "remote_file.txt")` succeeds.
* The result is that the remote file is in `/somedir/remote_file.txt`, where `/somedir` is the user's default remote working dire

[2019-03-13 19:23] hierynomus commented on #435
Which version are you using?

[2019-03-14 03:00] bsc2xp commented on #289
don't close the sftpClient, just close sshClient in the finally block

[2019-03-14 18:46] pcouas opened #495 "SSHJ connexion error"
Hi,

I have following error message on LINUX with SSHJ ,not on SOLARIS when i make many connexion

Regards
Phil
com.xx.aa.commons.exception.JfDomainRollbackException: net.schmizz.sshj.transport.TransportException
        at com.xx.toto.service.deploy.sshj.DeployManagerCommandUSImpl.sendCommandWithouthSecurityCheck(DeployManagerCommandUSImpl.java:152)
        at com.xx.toto.batch.objetmq.TimeoutFil

[2019-03-18 08:47] grimdug opened #496 "scmd and EOF"
Seems like newer sshj versions do not transmit an EOF to the running command. This did work fine at least up to version 0.8.1 and now just hangs (runs into timeout) with recent versions. I force the EOF by closing the cmd.getOutputStream() after all data was sent using a custom StreamCopier.:

//
// Do something like:  echo "hello" | ssh myhost cat
//
class MyStreamCopier {
  private final InputSt

[2019-03-18 12:42] duelinmarkers commented on #435
com.hierynomus:sshj:0.26.0

Also, I found that `./remote_file.txt` works, just not `remote_file.txt`.

[2019-03-20 10:17] oliwei2 opened #497 "How to set timestamp for directory?"
Hi,
I am trying to set the timestamps of the files and the directories while copying directories.
There is no problem to set the timestamps for the files but I am not able to set the timestamps for the directories.
I tried to call SFTPClient.setattr(String path, FileAttributes attrs) and SFTPEngine.makeDir(String path, FileAttributes attrs). Both run without error but also without changing the tim

[2019-03-20 14:56] GalLuvton opened #498 "Incorrect identification ending - missing carriage return"
I recently started noticing a warning I keep getting when connecting to my linux server:
[code]
After taking a look at the code, I noticed you are explicitly looking for a carriage return in the identification string ([here](https://github.com/hierynomus/sshj/blob/master/src/main/java/com/hierynomus/sshj/transport/IdentificationStringParser.java#L80)).
Is there a reason for this requirement? The l

[2019-03-20 15:58] hierynomus commented on #498
Yes, that's the part you're missing, see the RFC here: https://tools.ietf.org/html/rfc4253#section-4.2

Section 4.2 specifies that:

   identification string.  This identification string MUST be

   2.0, the 'protoversion' MUST be "2.0".  The 'comments' string is
   OPTIONAL.  If the 'comments' string is included, a 'space' character
   (denoted above as SP, ASCII 32) MUST separate the 'softwareve

[2019-03-20 20:34] grahamrb commented on #480
Is there a convenience method to generate a public and private ssh key pair? Similar to the following one offered by JSch: http://www.jcraft.com/jsch/examples/KeyGen.java.html

[2019-03-21 07:43] GalLuvton commented on #498
Thank you very much! I couldn't find it when googling. Closing

[2019-03-21 07:43] #498 closed

[2019-03-21 09:33] dhubbard-ic commented on #480
@grahamrb - you could have a look at [this example](https://github.com/dhubbard-ic/PEMHandlerExample) which isn't strictly linked to SSHJ but works with it.

[2019-03-25 12:53] franciscoamores opened #499 "Ed25519 - Could not initialize class net.schmizz.sshj.common.KeyType (Jython)"
Hello,

I'm trying to use SSHJ with Ed25519 from Jython.

I have imported jars:
- sshj-0.27.0.jar
- eddsa-0.3.0.jar

My code is:

       from net.schmizz.sshj import SSHClient
        from net.schmizz.sshj.sftp import SFTPClient
        from net.schmizz.sshj.xfer import FileSystemFile
        from net.schmizz.sshj.transport.verification import PromiscuousVerifier

        # -----------------------

[2019-03-25 13:50] hierynomus commented on #499
Hi Francisco,
Did you also add the dependencies to your classpath (ed25519.jar)?

[2019-03-25 14:48] franciscoamores commented on #499
I have added bouncy castle provider jar but i get same error
bcprov-ext-jdk15on-161.jar

El lun., 25 mar. 2019 a las 14:51, Jeroen van Erp (<notifications@github.com>)
escribió:

--
Francisco Amores Torres

[2019-03-25 15:00] franciscoamores commented on #499
sorry there was a typo in the original message.
The second jar  is eddsa-0.3.0.jar

[2019-03-25 15:23] franciscoamores commented on #499
Hi,
I think I did not add all dependencies. Now I have added:

25/03/2019 03:21:00 PM INFO       sshj-0.27.0.jar Jar file appended to sys path
25/03/2019 03:21:00 PM INFO       eddsa-0.3.0.jar Jar file appended to sys path
25/03/2019 03:21:00 PM INFO       bcpkix-jdk15on-1.61.jar Jar file appended to sys path
25/03/2019 03:21:00 PM INFO       bcprov-jdk15on-1.61.jar Jar file appended to sys path
2

[2019-03-25 20:20] franciscoamores commented on #499
Cool,

I think all working now. Just a firewall issue.

[2019-03-29 06:46] amolkulkarni-Tieto opened #501 "Prevent file from being accessed as it's being uploaded"
We are trying to upload a file using SFTPClient.Put . Unfortunately the file that is currently uploaded is accessed by a program even before the upload is complete. Is there another class/method that I can use to make this upload atomic ? Ideally the file should be locked before the upload is complete.

[2019-03-29 12:05] Vrakfall opened #502 "Unable to connect with a key from the `AndroidKeyStore`"
Hello, I tried using the lib to connect by using a key generated with the `AndroidKeyStore` in an Android application. It seems to not work as I'm getting the following exception.

[code]

All I can guess is the following line tries list the factories of the keys.
https://github.com/hierynomus/sshj/blob/db48ff85c05d2d85018e32e3631d0a3161d05b82/src/main/java/net/schmizz/sshj/userauth/method/KeyedAu

[2019-04-05 21:48] ltamaster opened #503 "authenticate with Private key"
Hello ,

Is there a way to authenticate just using a private key?
Thanks
Luis

[2019-04-08 14:33] #499 closed

[2019-04-08 14:37] franciscoamores opened #504 "File uploaded but got Permission denied (net.schmizz.sshj.sftp.SFTPException: Permission denied)"
Hello,

I'm getting Permission Denied (net.schmizz.sshj.sftp.SFTPException: Permission denied). File is actually uploaded but then the exception is raised.

I reproduced the issue in WinScp where it is fixed by disabling Preserve timestamp option.

Is there any other option in sshj rather than ignoring the exception?

Thanks!

[2019-04-09 20:29] jeff303 opened #505 "ReadAheadRemoteFileInputStream not reading all bytes before EOF?"
I am working on a problem transferring a file via SFTP (using sshj 0.27.0) to Amazon S3.  I'm encountering an Amazon SDK exception along the following lines:

`com.amazonaws.SdkClientException: Data read has a different length than the expected: dataLength=4221930; expectedLength=7105558; includeSkipped=false; in.getClass()=class com.amazonaws.internal.ReleasableInputStream; markedSupported=false;

[2019-04-09 22:08] jeff303 commented on #505
(updated the description to indicate this problem can be reproduced by a sample application)

[2019-04-10 00:58] ltamaster commented on #503
got it

[2019-04-10 00:58] #503 closed

[2019-04-11 08:13] dhubbard-ic commented on #501
I don't know the ins and outs of sshj, but is this a [common problem](https://winscp.net/eng/docs/script_locking_files_while_uploading)? That link suggests some work-arounds.

[2019-04-11 09:46] dhubbard-ic commented on #492
What are the permissions of source file before and after running this?  And does the user running the process have permission to change the permissions?

From a look at the source I see that `setPermissions` is applying to the file on the local system rather than an in memory representation of it.  Would be worth checking first.

The alternative might be (haven't used it) to use `SFTPClient `inste

[2019-04-12 10:51] adagios opened #506 "KeepAlive threads don't die if authPassword fails"
When there's an EOF during  `authPassword()`, the KeepAlive thread is not stopped, and because the transport is not running, just keeps sleeping on an infinite loop.

An example of the logs I'm seeing:
[code]

I'm trying to work around it by switching the order of autoPassword and turning the KeepAlive on, from the order given in [the KeepAlive example](../tree/master/examples/src/main/java/net/sc

[2019-04-15 16:09] anondinh opened #507 "TransportException: Unable to reach a settlement"
I have recently deployed my private application to a server and it seems to cause an issue.
I have searched for a solution but no approach fixed this issue so far.

It is throwing the following error message:

1.  Refering to issue 121:

- Manually installing JCE did not fix the issue
- Installing JCE using aptitude also did not fix the issue

Info about the server:
- Debian 8
- Oracle JDK 8

If r

[2019-04-15 21:22] anondinh commented on #507
Just enabled logging and noticed this:

	2019-04-15 23:21:14.521 INFO  [JCERandom] - Creating new SecureRandom.
	2019-04-15 23:21:14.524 DEBUG [JCERandom] - Random creation took 0 ms
	2019-04-15 23:21:14.529 WARN  [DefaultConfig] - Cannot find any provider supporting CAST5/CBC/NoPadding
	2019-04-15 23:21:14.532 WARN  [DefaultConfig] - Cannot find any provider supporting CAST5/CTR/NoPadding
	2019-0

[2019-04-16 07:40] hierynomus commented on #507
Uber-jars do nog work with BouncyCastle, due to the fact that the jars of securityproviders are signed.

[2019-04-16 13:54] adagios commented on #506
The switch seems to have resolved the hang thread on that occasion, but it now seems that there are other times when the keep-alive (and even the reader thread) are kept well after they should have stopped.

Still trying to gather more information / reduce the problem.

[2019-04-16 16:03] #507 closed

[2019-04-18 08:53] nettiehu opened #508 "Command::join() hangs when the command output exceeds some size"
After exec() a command, if the command output exceeds some size (around 2 ~ 3 MB, haven't tested accurately), the following join() method will hang forever. When the output size does not exceed that implicit threshold, it returns very fast.

[2019-04-26 16:43] impoldo1 commented on #48
Could someone please reopen this issue?

The native scp command **does** support remote file globs (wildcards). For example the following would copy all files ending in ".conf" from the remote /etc directory to the current working directory on localhost:

`scp host:/etc/*.conf .`

This issue was unfortunately closed with an example that only showed that the scp command will treat '\*' as a literal

[2019-04-30 10:06] adagios commented on #506
The switch seems to have resolved the hang thread on that occasion, but it now seems that there are other times when the keep-alive (and even the reader thread) are kept well after they should have stopped.

Still trying to gather more information / reduce the problem.

[2019-05-10 07:02] tutaidalal opened #510 "session.close() hung and taking longer time to close the session."
I am running a tail command on a file. The tail command does not have any output as there is no chnages in the file. After some time when I am trying to close the session using session.close it is taking around 30000 MS return the control to mu code and I am getting an exceptation -

session channel: id=2, recipient=1, localWin=[winSize=2097089], remoteWin=[winSize=2097152] >, Error net.schmizz.ss

[2019-05-10 07:07] tutaidalal commented on #510
below is the complete stack Trace -

12:35:44.405 TRACE - Closing session < session channel: id=2, recipient=1, localWin=[winSize=2097089], remoteWin=[winSize=2097152] >
12:35:44.405 DEBUG - Sending close
12:35:44.405 TRACE - Encoding packet #18: 61 00 00 00 01
12:35:44.406 DEBUG - Awaiting <<chan#2 / close>>
2019-05-10 12:36:14,412 ERROR c.c.d.s.c.pool.SSHSessionPool- Unable to close session < se

[2019-05-10 07:09] tutaidalal commented on #510
The command I am trying to execute -

tail -f -n <line number> <file name>

[2019-05-10 17:07] rcprcp commented on #79
Hi Team,
I think we are encountering this issue as well, and i am wondering if there is an update to @hierynomus 's question above?    Thanks.

[2019-05-13 15:47] franciscoamores opened #512 "NoClassDefFoundError: java.lang.NoClassDefFoundError: net/schmizz/sshj/common/Message"
Hello,

we are using library from Jython. Everything was working fine but suddenly we are getting a no class error when calling connect (sshClient.connect())

Anyone familiar with this scenario?

[2019-05-14 19:02] MrThomasWagner commented on #82
Just hit this myself.  Going to try a different library :(

[2019-05-14 22:29] wilx commented on #82
Why does the code even try to force BouncyCastle? I tried to disable the BouncyCastle provider registration and I have changed some to not depend on it and most tests pass. It seems to me that the only major failing part is the Elliptic Curves stuff. It seems to me recent JDK should provide enough to implement at least few viable combinations of algorithms for SSH connections.

[code]

[2019-05-15 14:20] dengcq2 commented on #19
Is very perfect

[2019-05-18 17:24] shorbachuk opened #515 "KeepAlive"
Does this library respond to TCP keep alive or SSH keep alive?

[2019-05-21 14:17] timcassidy13 opened #516 "Add Multifactor Authentication to SSHClient (MFA, 2fa)"
I am new to this library and very interested in using it.  However, I have requirements for 2-factor authentication on SSH.  Is this something that could be supported?

[2019-05-22 20:16] ltamaster commented on #431
Hi @ajit-pawar-sp
Did you fix this issue?

[2019-05-23 22:49] ltamaster commented on #227
Did you fix this issue?

[2019-05-24 08:05] vanseverk commented on #461
Hi there,

We seem to be getting the same issue when using the SFTPClient.put method. This does not happen every time the method is called, and no pattern could be deduced.
`
private void sendSftpFile(String fileType, String date, String sequenceNumber, String content) throws IOException {
        InMemorySourceFile inMemoryFile = createInMemoryFile(fileType, date, sequenceNumber, content);

[2019-05-29 13:20] talnicolas commented on #433
I am also facing this issue in v0.27.0 while trying to bring back data through an SSH tunnel. Is there any workaround/fix for this?

[2019-06-03 14:36] hierynomus commented on #516
Hi @timcassidy13, I think you want to do something like this: https://github.com/hierynomus/sshj/issues/443#issuecomment-412788325.

[2019-06-05 01:54] otizis commented on #320
@hierynomus

can you show the flags/environment variabels ?
is this set in session.allocatePTY("vt100", 80, 24, 640, 480, map ); ?
change vt100 to other OR put variabels into map ?

[2019-06-05 02:18] otizis commented on #320
i try session.allocatePTY("vt102", 80, 24, 640, 480, map );  is ok

[2019-06-05 14:49] mrworkman commented on #446
It is possible. You just need to start up some threads to read from `inputStream` and `errorStream` between your call to `exec()` and `join()`. Just make sure not to use methods like `readLine()` when reading from the streams, as prompts often don't have newlines.

[2019-07-01 12:45] vishva-shah commented on #217
@hierynomus,
Greetings. Can you please confirm when can we expect SSHJ support for the GCM ciphers and chacha20-poly1305, out of the box?
Thanks.

[2019-07-02 15:34] DImuthuUpe opened #518 "Data copy between 2 remote hosts"
My local machine has SSH credentials for 2 remote servers A and B. I need to transfer a 1TB file in A to B through my local machine. Is there a way we can do that without fully downloading it to my local machine?

[2019-07-03 10:12] hierynomus commented on #518
I need to look that up. Using regular commandline ssh this is possible. I
can't tell from the top of my head whether we added support for that in sshj

Op di 2 jul. 2019 17:34 schreef Dimuthu Wannipurage <
notifications@github.com>:

[2019-07-03 17:28] DImuthuUpe commented on #518
Thanks @hierynomus. Please let me know if such option is available. We used to do this in Jcraft with a pragmatical approach. But we later moved to sshj due to its simplicity. If we have such a option, that will come handy for large file transfers. Currently we download the entire file to local file system and then upload it to the remote host.

[1] https://github.com/apache/airavata/blob/0.17-mai

[2019-07-06 13:19] tagus24 opened #519 "Curve25519 - java.lang.NoSuchMethodError"
Hi,

When running a program in a linux machine with Curve25519 being negotiated, I'm getting the following error:

2019-07-06 08:05:26 [reader] DEBUG n.s.sshj.transport.KeyExchanger - Received SSH_MSG_KEXINIT
2019-07-06 08:05:26 [reader] DEBUG n.s.sshj.transport.KeyExchanger - Negotiated algorithms: [ kex=curve25519-sha256; sig=ssh-ed25519; c2sCipher=aes128-ctr; s2cCipher=aes128-ctr; c2sMAC=hmac-s

[2019-07-06 20:02] hierynomus commented on #519
Most probably the version of BouncyCastly you're using is no longer compatible. Have you tried running with the version with which sshjj was compiled?

[2019-07-07 16:09] tagus24 commented on #519
I tried with bouncycastle 1.60 too but no lucky. Same error happened.
I solved my problem, creating a custom ConfigImpl without the Curve KeyExchangeFactory.
(I'm not only sure why in my case is happening the issue but, If I'm the only one getting it, is something that I should be missing).

[2019-07-08 17:28] DImuthuUpe commented on #518
@hierynomus Just want to followup on whether you could find some mechanism to do this

[2019-07-17 09:15] alperenp opened #521 "Authentication problem using ECDSA 521 private key"
Hey there, I've been using sshj for some time, thanks for such nice tool and continue on your improvements!
I encounter a problem when I try to ecdsa-sha2-nistp521 key. This could be duplicate issue but I couldn't find it from previous issues and in other public souces.

Here is the deal, I have a private ECDSA key and a remote server which I can connect successfully over ssh. While using sshj, I

[2019-07-17 10:01] hierynomus commented on #521
Can you send the debug logging of the full connection/login attempt?

[2019-07-17 11:31] alperenp commented on #521
Sure, I anonymized fingerprint, ip address and some class names.

[code]

[2019-07-17 13:11] alperenp commented on #521
If necessary, I can provide code itself as a separate project

[2019-07-17 13:54] hierynomus commented on #521
Can you add a slf4j logger implementation and ensure that there is debug
level logging? Currently no logger is configured (noop).

Op wo 17 jul. 2019 15:11 schreef alperenp <notifications@github.com>:

[2019-07-17 14:47] alperenp commented on #521
Here is code
[code]
Here is log
[code]

[2019-07-18 08:48] alperenp commented on #521
If needed, I created my key pair with following command:
`ssh-keygen -t ecdsa -b 521`

And my private key is in he form of
[code]

[2019-07-18 10:29] alperenp commented on #521
Hello again,
I tried with PEM file on 521 bit but still doesn't work.

I just find that I can authenticate as expected using 256 bit ECDSA key with the same code piece. So maybe there is something wrong ongoing with 521 bit. I put the working log as well maybe you can distinguish something
[code]

[2019-07-19 20:08] SteadyOsprey opened #522 "Connection with Dell switch fails auth"
I am new to SSHJ and trying to connect to Dell PowerConnect switches with authPassword to execute standard tasks for troubleshooting (for example, bounce POE on a single port to reset a device remotely).  I can establish the connection, but auth fails with:
W/System.err: net.schmizz.sshj.userauth.UserAuthException: Exhausted available authentication methods

I can connect with putty and from a Lin

[2019-07-26 21:11] czajak1995 opened #523 "JCE"

[2019-07-26 21:11] #523 closed

[2019-08-01 10:49] antonrud commented on #471
Same here. The behaviour of both methods is not clear. Is there any documentation available?

[2019-08-04 06:19] Pavan-Savlani opened #525 "Getting Error Exhausted available authentication methods"
Hi,
I need your help on the below issue.
I'm getting "Error Exhausted available authentication methods".
I'm trying to connect to channel advisor for SFTP. I'm also using a proxy for this. The problem is, When I run this code, it throws the error "Exhausted available authentication methods".
Channel Advisor uses id and password auth method for sftp, and moreover I just want avoid host key verifica

[2019-08-05 12:10] Pavan-Savlani commented on #525
I was using wrong account id, hence it was throwing the above error. Now it works fine.

[2019-08-05 12:10] #525 closed

[2019-08-06 12:09] mgattinger opened #526 "Public RSA-key of host is not verified"
I'm new to sshj and I try to solve the following problem of verifying the identity of the host to connect to. The host is an SSH server that only provides its public key using the ssh-rsa host key algorithm (and not the ssh-ed25519 algorithm, too).

I use the following code to do the verification:

PublicKey publicKey = new Buffer.PlainBuffer(Base64.decode("...")).readPublicKey();
sshClient.addHos

[2019-08-07 15:52] gulo-gulo opened #527 "Jump example not for 0.27.0?"
Hi @hierynomus,

Thanks a ton for this repo, it saves me so much time.

So, I'm using 0.27.0 (need the RSA support), and I also need to perform  "jump" logic (https://github.com/hierynomus/sshj/blob/master/examples/src/main/java/net/schmizz/sshj/examples/Jump.java), but the `DirectConnection` class and the `newDirectConnection()` method are not there anymore (looks like the examples use 0.24.0?)

[2019-08-12 07:51] alperenp commented on #521
Hello again,
Is there any update planned regarding with the issue? Or you need further information/investigation?
Best,

[2019-08-19 17:03] kellerkindt commented on #527
Thanks to your hint, I found the necessary parts in 0.27.0 to open a direct channel successfully:
[code]

[2019-08-23 17:07] NikolayMetchev opened #528 "ArrayIndexOutOfBounds Exception"
I am trying to upload a file to an sftp server and I suspect they are using old ciphers on their end which is resulting in the following exception:
Any help will be appreciated:

[2019-08-23 17:46:45:073] [INFO] [pool-4-thread-1] [] [BouncyCastleRandom:48] - Generating random seed from SecureRandom.
[2019-08-23 17:46:45:229] [INFO] [pool-4-thread-1] [] [TransportImpl:214] - Client identity string:

[2019-08-23 20:16] calvertdw opened #529 "Find also custom user named private keys in ~/.ssh"
SSHJ by default finds only private keys named:
- id_rsa
- id_dsa
- id_ed25519
- id_ecdsa

It would be nice if it would also pick up user named private keys. This allows us to share code.

I wrote the following code (sorry for the Kotlin):
[code]

[2019-09-03 18:46] markspeters opened #530 "AuthPassword does not handle wide-character/Unicode passwords"
When using `SSHClient.authPassword(...)` to authenticate, non-ASCII characters in the password are not transmitted properly (e.g. `passwörd`).  This is because it uses `Buffer.putSensitiveString()` which (currently) casts each character to a byte.

There are probably two options: either support specifying a `Charset` in `putSensitiveString` and bubble that up to `authPassword`, or at least default

[2019-09-06 19:41] jonathanjt opened #531 "Issue generating PublicKey using ECDSAVariationsAdapter"
When doing a simple hard-coded PublicKey generation like this:
[code]
prints out
"java.security.GeneralSecurityException: Unknown curve ecdsa-sha2-nistp256"

Which is the failure from the the internal
_static PublicKey readPubKeyFromBuffer(Buffer<?> buf, String variation)_

[code]
Which is odd because the KeyType is clearly created, yet says unknown....

[2019-09-10 14:53] jonathanjt commented on #531
I'll leave the issue up in case it actually turns out to be a bug, but I've worked around it by just using bouncycastle/java.security directly instead

[2019-09-11 08:12] taras19921 opened #532 "Error during opening file: java.lang.ArrayIndexOutOfBoundsException: arraycopy: destination index -4 out of bounds for byte[256]"
During opening the file in this way :

`RemoteFile remoteFile = sftpClient.open(path)`

I've faced with following error with stacktrace:

	at net.schmizz.sshj.common.Buffer.putRawBytes(Buffer.java:271)
	at net.schmizz.sshj.connection.channel.ChannelOutputStream$DataBuffer.write(ChannelOutputStream.java:64)
	at net.schmizz.sshj.connection.channel.ChannelOutputStream.write(ChannelOutputStream.java:1

[2019-09-11 11:22] saranya1988 opened #533 "How to read from the remote file into a Stream ?"
Can anyone please help in reading a remote file into a Stream? I understand that I need to use something similar to this
[code]
				};
but any process on how exactly to do this would be helpful. Thanks in advance

[2019-09-11 12:02] saranya1988 opened #534 "Migrating from EDT FTP jar to SSHJ"
Hi, We are migrating from EDT FTP jar to SSHJ for implementing SFTP client.
As we go through the SSHJ, we are not able to locate APIs or methods which can equivalent to that from the EDT FTP jar.
Below is a set of few methods in EDT jar which we are not able to migrate to SSHj. So please provide the alternate methods which we can use

- Set Config flags such as disabling the wait for acknowledgmen